@import "../../../../styles";

.create-organization-title {
  font-size: 26px;
  color: $primary-color;
  font-weight: 600;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin: 0 0 3px 20px;
  font-size: 14px;
}

.breadcrumb-item {
  color: $primary-color;
  cursor: pointer;
  outline: none;
}

.active {
  color: lightgrey;
}

.breadcrumb-arrow {
  font-size: 16px;
  color: $primary-color;
}

.details-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.organization-details-container,
.bot-details-container {
  width: 48%;
}

.organization-details-header,
.bot-details-header {
  font-size: 16px;
  color: #b4b4b4;
  font-weight: 600;
}

.detail-field {
  border: 2px solid #e7e7e8;
}

.field-label {
  color: lightgrey;
}

.upload-dialogflow {
  height: 220px;
  padding: 10px 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.upload-dialogflow:hover {
  border: 0.1rem solid lightgrey;
}

.cloud-upload-button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 10px 30px;
  background-color: $primary-color;
  border-radius: 20px;
  color: white;
  font-size: 16px;
}

.cloud-upload-button:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.info {
  display: flex;
  justify-content: flex-end;
  text-align: start;
  width: 100%;
  font-size: 30px;
  color: #b4b4b4;
}

.info-icon {
  cursor: pointer;
}

.upload-dialogflow-button-container {
  height: 150px;
  width: 100%;
}

.dialog-flow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e7e7e8;
  color: $primary-color;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.dialog-flow-circle:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.edit-dialog-flow-button {
  font-size: 16px;
  background-color: #c5c5c5;
  color: white;
  border: none;
  outline: none;
}

.edit-dialog-flow-button:hover {
  background-color: $primary-color;
  color: white;
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.create-button-container {
  position: absolute;
  right: 40px;
  width: 100%;
}

.create-button {
  text-align: right;
  padding: 10px 40px;
  background-color: $primary-color;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  border: none;
  outline: none;
}

.create-button:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.dialog-box {
  border-radius: 15px;
}

.dialog-heading {
  height: 150px;
  font-size: 18px;
  color: $primary-color;
  font-weight: 600;
}
.dialogflow-info {
  a {
    color: $primary-color !important;
  }
}
.dialogFlow-json {
  word-break: break-all;
}
.file-icon {
  color: $primary-color;
  font-size: 1.8rem;
}
.note {
  font-size: 12px;
  color: $gray-font-color;
  text-align: end;
}
.highLight_info {
  color: $primary-color !important;
}
@media (max-width: 768px) {
  .details-container {
    max-width: 100%;
  }

  .organization-details-container,
  .bot-details-container {
    width: 600px;
  }

  .create-button-container {
    width: 600px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .details-container {
    width: 100%;
  }

  .create-button-container {
    width: 100%;
  }

  .create-button-container {
    bottom: 450px;
  }
}

@media (min-width: 1441px) {
  .details-container {
    width: 75%;
  }

  .create-button-container {
    right: calc(25% + 20px);
    width: 75%;
  }
}
