<div class="d-flex align-end flex-wrap">
  <div class="create-organization-title">
    {{ editID ? "Edit Organization" : "Create Organization" }}
  </div>
  <nav class="breadcrumb">
    <span
      [routerLink]="['/', 'dashboard', 'organizations']"
      class="breadcrumb-item"
      >Organizations</span
    >
    <i class="material-icons breadcrumb-arrow">
      navigate_next
    </i>
    <span class="breadcrumb-item active">{{
      editID ? "Edit Organization" : "Create Organization"
    }}</span>
  </nav>
</div>

<form class="details-container" [formGroup]="organizationForm">
  <div class="organization-details-container">
    <div class="organization-details-header">Organization Details:</div>
    <mat-form-field class="mt-20 w-100" appearance="outline">
      <mat-label class="field-label">Organization Name</mat-label>
      <input
        matInput
        placeholder="Organization Name"
        formControlName="name"
        required
      />
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="field-label">Admin Name</mat-label>
      <input
        matInput
        placeholder="Admin Name"
        formControlName="adminName"
        required
      />
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="field-label">Admin Email</mat-label>
      <input
        matInput
        placeholder="Admin Email"
        formControlName="adminEmail"
        required
        [readonly]="editID"
      />
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="field-label">Admin Contact Number</mat-label>
      <input
        matInput
        placeholder="Admin Contact Number"
        formControlName="adminContactNumber"
        (keypress)="restrictNumberInput($event)"
        required
      />
    </mat-form-field>
  </div>
  <div class="bot-details-container">
    <div class="bot-details-header">Bot Details:</div>
    <mat-form-field class="mt-20 w-100" appearance="outline">
      <mat-label class="field-label">Bot Name</mat-label>
      <input
        matInput
        maxlength="60"
        placeholder="Bot Name"
        [formControl]="organizationForm.controls['bot']['controls']['botName']"
        required
      />
    </mat-form-field>

    <div class="upload-dialogflow">
      <div class="info">
        <i
          class="material-icons info-icon"
          (click)="openDialog(infoDialog)"
          [ngClass]="{ highLight_info: !isJsonValid }"
        >
          info_outline
        </i>
      </div>

      <div
        class="d-flex align-center upload-dialogflow-button-container just-center flex-column"
      >
        <i class="material-icons-outlined file-icon" *ngIf="!isShowUpload">
          description
        </i>
        <p
          class="organization-details-header"
          style="color: #0eacaf"
          *ngIf="jsonFileName"
        >
          {{ jsonFileName }}
        </p>
        <button
          *ngIf="isShowUpload"
          infoinfo
          class="cloud-upload-button"
          (click)="uploadJSON()"
        >
          <i class="material-icons">
            cloud_upload
          </i>
          <span class="ml-5">Upload Dialog Flow json</span>
        </button>
        <input
          type="file"
          (change)="checkAndUploadJSON($event)"
          accept="application/json"
          #jsonUpload
          hidden
        />

        <div *ngIf="!isShowUpload" class="d-flex">
          <button
            class="dialog-flow-circle edit-dialog-flow-button"
            title="Upload JSON"
            (click)="uploadJSON()"
          >
            <i class="material-icons">
              cloud_upload
            </i>
          </button>

          <button
            class="dialog-flow-circle edit-dialog-flow-button"
            title="Download JSON"
            (click)="downloadJSON()"
          >
            <i class="material-icons">
              cloud_download
            </i>
          </button>
          <button
            class="dialog-flow-circle edit-dialog-flow-button"
            title="View JSON"
            (click)="openJSONDialog(viewDetails)"
          >
            <i class="material-icons">
              remove_red_eye
            </i>
          </button>
        </div>
      </div>
    </div>
    <div
      class="note"
      *ngIf="
        organizationData && organizationData.deletedBotName && isShowUpload
      "
    >
      <p>
        <i
          >You removed the bot <b>{{ organizationData.deletedBotName }}</b> on
          {{ organizationData.deletedBotDate | date }}.</i
        >
      </p>
    </div>
  </div>
</form>
<div class="create-button-container text-align-right">
  <button
    class="create-button"
    [disabled]="organizationForm.invalid || isSaveOrg"
    [ngStyle]="{
      cursor: organizationForm.invalid || isSaveOrg ? 'not-allowed' : 'pointer'
    }"
    (click)="saveOrganization()"
  >
    {{ editID ? "Save" : "Create" }}
  </button>
</div>

<ng-template #infoDialog>
  <div>
    <div class="detail-label">Instructions:</div>
    <div class="dialogflow-info">
      <p>
        1. Open
        <a href="https://console.dialogflow.com/" target="_blank"
          >console.dialogflow.com</a
        >
        and login with your google account.
      </p>
      <p>
        2. Create your agent, For DialogFlow documentation
        <a href="https://dialogflow.com/docs/getting-started" target="_blank"
          >https://dialogflow.com/docs/getting-started</a
        >
      </p>
      <p>
        3. Open list of
        <a
          href="https://console.cloud.google.com/iam-admin/serviceaccounts"
          target="_blank"
          >service accounts</a
        >
        for matching google cloud project
      </p>
      <p>
        4. Create a new service for bot-platform to use, with the Dialogflow API
        admin role.
      </p>
      <p>5. Create and download a new JSON key for this service account.</p>
      <p>
        6. Upload the service account's JSON key here to authenticate
        bot-platform.
      </p>
      <p>
        To view more about creating service account
        <a href="https://support.google.com/a/answer/7378726" target="_blank"
          >click here</a
        >
      </p>
    </div>
  </div>
</ng-template>
<ng-template #viewDetails>
  <div class="dialogFlow-json">
    <p>{{ "{" }}</p>
    <p><b>project_id :</b> {{ jsonFile.project_id }}</p>
    <p><b>private_key_id :</b> {{ jsonFile.private_key_id }}</p>
    <p><b>private_key :</b> {{ jsonFile.private_key }}</p>
    <p><b>client_email :</b> {{ jsonFile.client_email }}</p>
    <p><b>client_id : </b>{{ jsonFile.client_id }}</p>
    <p><b>auth_uri :</b> {{ jsonFile.auth_uri }}</p>
    <p><b>token_uri : </b>{{ jsonFile.token_uri }}</p>
    <p>
      <b>auth_provider_x509_cert_url : </b
      >{{ jsonFile.auth_provider_x509_cert_url }}
    </p>
    <p>
      <b>client_x509_cert_url :</b>
      {{ jsonFile.client_x509_cert_url }}
    </p>
    <p>{{ "}" }}</p>
  </div>
</ng-template>
