<div *ngIf="isBotLoaded">
  <div class="organizations-title">Bots</div>
  <div class="search-bar-create-organization-container">
    <div class="d-flex just-space-bet align-center search-bar">
      <input
        class="w-95"
        placeholder="Search Bot"
        (keydown)="getSearchList($event)"
        [(ngModel)]="search"
      />
      <i
        class="material-icons search-bar-icon"
        title="Search Bot"
        (click)="getAllBots(1, 10)"
      >
        search
      </i>
    </div>
  </div>
  <div class="custom_table">
    <div class="custom_table--header">
      <div class="admin-name ml-20">Bot name</div>
      <div class="admin-name">Admin name</div>
      <div class="organization-name">Organization name</div>
      <div class="date-created">Date Created</div>
      <div class="date-created">Bot Details</div>
      <div class="date-created">Bot Status</div>
      <div class="action">Action</div>
    </div>

    <div class="custom_table--row" *ngFor="let bot of bots; let i = index">
      <div class="admin-name ml-20" [title]="bot.botName">
        {{ bot.botName }}
      </div>
      <div class="admin-name" [title]="bot.adminName">{{ bot.adminName }}</div>
      <div class="organization-name" [title]="bot.organizationName">
        {{ bot.organizationName }}
      </div>
      <div
        class="date-created"
        [title]="bot.createdDate | date: 'dd MMMM yyyy'"
      >
        {{ bot.createdDate | date: "dd MMMM yyyy" }}
      </div>
      <div class="date-created detail-btn">
        <button
          class="btn-more-details"
          mat-flat-button
          (click)="getBotDetails(i, botDetails)"
        >
          More Details
        </button>
        <div
          class="action-circle more-details"
          title="More Details"
          (click)="getBotDetails(i, botDetails)"
        >
          <i class="material-icons ic-more-details">info_outline</i>
        </div>
      </div>
      <div class="date-created detail-btn">
        <!-- <div
          class="d-flex align-center"
          *ngIf="!bot.putOnHold"
          (click)="changeBotOnHold(i, putOnHoldConfirm)"
        >
          <div class="action-circle ic_pause" title="Stop Bot">
            <i class="material-icons">
              pause_circle_outline
            </i>
          </div>
          <div>Stop Bot</div>
        </div>

        <div
          class="d-flex align-center"
          *ngIf="bot.putOnHold"
          (click)="changeBotOnHold(i, putOnHoldConfirm)"
        >
          <div class="action-circle " title="Start Bot">
            <i class="material-icons">
              play_circle_outline
            </i>
          </div>
          <div>Start Bot</div>
        </div>-->
        <button
          class="btn-more-details"
          mat-flat-button
          [ngClass]="{ 'active-btn': !bot.putOnHold }"
          (click)="changeBotOnHold(i, putOnHoldConfirm)"
        >
          {{ !bot.putOnHold ? "Put On Hold" : "Resume" }}
        </button>
        <div class="bot-status--btn">
          <div
            class="d-flex align-center"
            *ngIf="!bot.putOnHold"
            (click)="changeBotOnHold(i, putOnHoldConfirm)"
          >
            <div class="action-circle ic_pause" title="Put On Hold">
              <i class="material-icons">
                pause_circle_outline
              </i>
            </div>
          </div>

          <div
            class="d-flex align-center"
            *ngIf="bot.putOnHold"
            (click)="changeBotOnHold(i, putOnHoldConfirm)"
          >
            <div class="action-circle " title="Resume">
              <i class="material-icons">
                play_circle_outline
              </i>
            </div>
          </div>
        </div>
      </div>
      <!-- action three dots starts here -->
      <div class="action-three-dots pr-5">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="p-10">
          <div class="d-flex align-center mt-20">
            <div class="action-circle " title="Delete Bot">
              <i class="material-icons">
                delete
              </i>
            </div>
            <div>Delete Bot</div>
          </div>
        </mat-menu>
      </div>
      <!-- action three dots screen ends here -->

      <!-- action large screen starts here -->
      <div class="action-large-screen mr-20">
        <div
          class="action-circle"
          title="Delete Bot"
          (click)="openDeleteDialog(i, deleteConfirmation)"
        >
          <i class="material-icons">
            delete
          </i>
        </div>
      </div>
      <!-- action large screen ends here -->
    </div>
  </div>

  <div class="pagination" *ngIf="totalpage > 1">
    <i
      class="material-icons prev-btn"
      [ngClass]="{ 'disable-prev-btn': disablePrev }"
      (click)="prevPage()"
    >
      navigate_before
    </i>

    <div
      *ngFor="let val of totalPages"
      class="cust-page-indx"
      [ngClass]="{ 'index-active': val.status }"
      (click)="changePage(val.no)"
    >
      {{ val.no }}
    </div>

    <i
      class="material-icons next-btn"
      [ngClass]="{ 'disable-next-btn': disableNext }"
      (click)="nextPage()"
    >
      navigate_next
    </i>
  </div>
</div>
<div
  *ngIf="!isBotLoaded"
  class="d-flex just-center align-center"
  style="height: calc(100vh - 160px)"
  id="initial_loader"
>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<ng-template #botDetails>
  <div>
    <div class="detail-label">Bot Details:</div>
    <div class="w-100 d-flex align-center just-space-bet mt-10">
      <div class="bot-details mr-30">
        <p [title]="selectedBot.botName">{{ selectedBot.botName }}</p>
      </div>
      <div [title]="selectedBot.dialogflow.projectId" class="bot-details">
        <p>{{ selectedBot.dialogflow.projectId }}</p>
      </div>
    </div>
    <div class="detail-label mt-20 mb-20" *ngIf="selectedBot.siteUrls.length">
      List of Websites:
    </div>
    <div>
      <div
        *ngFor="let website of selectedBot.siteUrls"
        class="bot-detail-website"
      >
        <a [title]="website" target="_blank" [href]="'https://' + website">{{
          website
        }}</a>
      </div>
    </div>
  </div>
</ng-template>
<!-- delete user dialog box starts here -->
<ng-template #deleteConfirmation>
  <div class="detail-configuration">
    <p>Are you sure you want to delete {{ selectedBot.botName }}?</p>
    <div class="mt-40 d-flex just-end">
      <div
        class="cust-button-white float-right mr-10"
        [mat-dialog-close]="false"
      >
        Cancel
      </div>
      <div class="cust-button float-right" [mat-dialog-close]="true">
        Confirm
      </div>
    </div>
  </div>
</ng-template>
<!-- delete user dialog box endss here -->
<!-- add user dialog box starts here -->
<ng-template #putOnHoldConfirm>
  <div class="detail-configuration">
    <p>
      {{
        !selectedBot.putOnHold
          ? "Do you want to put bot On-Hold? This will stop bot from working."
          : "Do you want to remove bot from hold?"
      }}
    </p>
    <div class="mt-40 d-flex just-end">
      <div class="cust-button-white float-right mr-10" (click)="unChecked()">
        Cancel
      </div>
      <div class="cust-button float-right" (click)="setChecked()">Confirm</div>
    </div>
  </div>
</ng-template>
<!-- add user dialog box ends here -->
