@import "../../../styles";

.search-bar-icon {
  font-size: 22px !important;
  color: $primary-color;
}
.action-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e7e7e8;
  color: $primary-color;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.action-large-screen {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}
.detail-btn {
  display: flex;
}
.action-three-dots {
  display: none;
}
.organization-name {
  width: 16%;
  max-width: 16%;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-name,
.admin-email,
.date-created,
.organization-name {
  width: 15%;
  max-width: 15%;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-more-details {
  background-color: white;
  border: 2px solid #e3e3e4;
  border-radius: 8px;
  font-size: 16px;
  width: 125px;
  color: $primary-color;
}
.bot-status--btn {
  display: none;
}
.more-details {
  display: none;
}
.ic-more-details {
  color: $primary-color;
}
.ic_pause {
  background-color: $primary-color;
  color: white;
}
.bot-details {
  width: 50%;
  word-wrap: break-word;
  overflow: hidden;
  padding: 0 20px;
  line-height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 2px solid $gray-medium;

  p {
    height: 60px;
    display: flex;
    line-height: 60px;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
.bot-detail-website {
  width: 100%;
  background-color: $gray-back;
  padding: 0 20px;
  border-radius: 8px;
  margin-top: 10px;

  a {
    color: $font-color !important;
    height: 60px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-break: break-all;
  }
}
.active-btn {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
}
@media (max-width: 1024px) {
  .admin-name,
  .organization-name,
  .admin-email,
  .date-created {
    width: 16%;
    max-width: 16%;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .more-details {
    display: flex;
  }
  .btn-more-details {
    display: none;
  }
  .detail-btn {
    justify-content: center;
  }
  .bot-status--btn {
    display: block;
  }
}

@media (max-width: 1366px) {
  .action-circle {
    margin-right: 6px;
  }
}
@media (max-width: 768px) {
  .action-three-dots {
    display: block;
  }
  .action-large-screen {
    display: none;
  }
  .bot-status--btn {
    display: block;
  }
}
