<!--<div class="main-container">
&lt;!&ndash;  <div id="menu-effect">
    <div class="menu-switcher" id="menu-toggle">
      <div class="side_nav&#45;&#45;logo">
       <img src="../../assets/images/hp-icon.png" />
      </div>
      <div class="header-logo" *ngIf="isMobile">
        <img src="../../assets/images/login/logo-Human-Pixel-Horizontal.svg"/>
      </div>
    </div>
    &lt;!&ndash; starts - Left Bar&ndash;&gt;
    <div class="icon-set">
      <div class="icon-text-div" [routerLink]="['hand-off']"
           routerLinkActive="active-link">
        <div
          class="icon-class"
          [ngClass]="{ 'icon-class2': this.isOpen === true }"
        >
          <mat-icon
            [matTooltip]="'hand-off'"
            matTooltipPosition="right"
          >chat_bubble_outline
          </mat-icon>
        </div>
        <div
          class="icon-text"
          [ngClass]="{ 'icon-text-display': this.isOpen === false }"
        >
          <p>Live chat</p>
        </div>
      </div>
-->
      <!-- bot settings icon starts here -->
<!--      <div class="mt-30 icon-text-div" [routerLink]="['bot-settings']"
           routerLinkActive="active-link">
        <div
          class="icon-class"
          [ngClass]="{ 'icon-class2': this.isOpen === true }"
        >
          <mat-icon
            [matTooltip]="'hand-off'"
            matTooltipPosition="right"
          >settings_applications
          </mat-icon>
        </div>
        <div
          class="icon-text"
          [ngClass]="{ 'icon-text-display': this.isOpen === false }"
        >
          <p>Bot Settings</p>
        </div>
      </div>
      &lt;!&ndash; bot settings icon ends here &ndash;&gt;

    </div>
    &lt;!&ndash; End of  Left Bar&ndash;&gt;
  </div>&ndash;&gt;

  &lt;!&ndash; starts - header right bar&ndash;&gt;
  <div class="main-right-div">
    <div class="middle-header">

        <div *ngIf="isMobile">
          <a><i class="material-icons menu-icon" (click)="openMenu()">
            menu
          </i>
          </a>
        </div>

      <div class="header-logo">
        <img src="../../assets/images/login/logo-Human-Pixel-Horizontal.svg"/>
      </div>

    &lt;!&ndash;  <div class="header-right">
        &lt;!&ndash;User logout option and name&ndash;&gt;
        <div class="user">
          <div class="notification-bell" [matBadge]="unreadMessageCount"
               matBadgeColor="primary">
            <img src="../../assets/images/live-chat/bell.svg">
          </div>
          <div
            class="d-flex align-center"
            mat-button
            [matMenuTriggerFor]="menu"
          >
            <div class="userInitialCircle">
              <span class="user-initial">AD</span>
            </div>
            <span id="user-name">{{username | titlecase}}</span>
            <i class="material-icons user__expand-more">
              expand_more
            </i>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="userLogout()">Logout</button>
          </mat-menu>
        </div>
      </div>&ndash;&gt;
    </div>
    <div class="main-btm-div">
      <ng-container *ngIf="isLoading">
        <app-loader></app-loader>
      </ng-container>
      <ng-container *ngIf="!isLoading">
        <div class="bottom-right-container">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
    </div>
  </div>
</div>&ndash;&gt;-->

<mat-drawer-container class="main_container">
  <mat-drawer mode="side" opened>
    <div class="side_nav--main">
      <div class="side_nav--logo">
        <img src="../../assets/images/kevit-icon.png"/>
      </div>
      <div class="side_nav--list">
        <div
          *ngIf="userRole !=='supportAgent'"
          class="side_nav--item d-flex align-center just-center flex-column"
          [routerLink]="['analytics']"
          routerLinkActive="active-link"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
            <line x1="18" y1="20" x2="18" y2="10"></line>
            <line x1="12" y1="20" x2="12" y2="4"></line>
            <line x1="6" y1="20" x2="6" y2="14"></line>
          </svg>
          <p>Analytics</p>
        </div>

        <div
          class="side_nav--item d-flex align-center just-center flex-column mt-20"
          [routerLink]="['hand-off']"
          routerLinkActive="active-link"
        >
          <mat-icon
          >chat_bubble_outline
          </mat-icon>
          <p>Support</p>
        </div>

        <div  *ngIf="userRole !=='supportAgent'"
          class="side_nav--item d-flex align-center just-center flex-column mt-20"
          [routerLink]="['web-widget']"
          routerLinkActive="active-link"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders">
            <line x1="4" y1="21" x2="4" y2="14"></line>
            <line x1="4" y1="10" x2="4" y2="3"></line>
            <line x1="12" y1="21" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12" y2="3"></line>
            <line x1="20" y1="21" x2="20" y2="16"></line>
            <line x1="20" y1="12" x2="20" y2="3"></line>
            <line x1="1" y1="14" x2="7" y2="14"></line>
            <line x1="9" y1="8" x2="15" y2="8"></line>
            <line x1="17" y1="16" x2="23" y2="16"></line>
          </svg>
          <p>Web Widget</p>
        </div>

        <div
          class="side_nav--item d-flex align-center just-center flex-column mt-20"
          [routerLink]="['bot-settings']"
          routerLinkActive="active-link"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
               viewBox="0 0 24 24" fill="none" stroke="currentColor"
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
            <circle cx="12" cy="12" r="3"></circle>
            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
          </svg>
          <p>Bot Settings</p>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main_div">
      <mat-toolbar class="header--main">

        <div class="d-flex align-center">
          <mat-icon class="notify-icon" *ngIf="notificationCount>0" [matBadge]="notificationCount"
                   routerLink="hand-off"
                    [queryParams]="{ status: 'newRequest' }" matBadgeColor="primary">notifications</mat-icon>
        <div
          (click)="toggleMenu()"
          id="header"
          (clickOutside)="isMenuToggle = false"
          class="d-flex align-center just-space-bet c-p mr-40 h-100"

        >
          <div class="header--initial">
            <img *ngIf="photoUrl" [src]="photoUrl" />
            <span *ngIf="!photoUrl">{{ initialLetter }}</span>
          </div>
          <div>
            <div class="header--user-name">
              {{ userName }}
            </div>
          </div>
          <mat-icon    [ngClass]="{ 'rotate-icon': isMenuToggle }" class="down-arrow mb-5 ml-10"
          >keyboard_arrow_down
          </mat-icon
          >
<!--          <mat-icon (click)="toggleMenu()" *ngIf="isMenuToggle" class="down-arrow mb-5 ml-10"-->
<!--          >keyboard_arrow_up-->
<!--          </mat-icon-->
<!--          >-->
        </div>
        </div>

      </mat-toolbar>
      <div class="bottom-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<app-header-dropdown
  *ngIf="isMenuToggle"
  (closeModal)="isMenuToggle = false"
  (menuClick)="handleMenuClick($event)"
  [width]="headerWidth"
></app-header-dropdown>

<!-- change password dialog box starts here -->
<ng-template #changePass>
  <form class="changepass-form" [formGroup]="changePasswordForm">
    <div>
      <mat-form-field appearance="outline" class="change-password-container">
        <mat-label class="email-label">Old Password</mat-label>
        <input
          matInput
          placeholder="Old Password"
          formControlName="oldPassword"
          type="password"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="change-password-container">
        <mat-label class="email-label">New Password</mat-label>
        <input
          matInput
          placeholder="New Password"
          formControlName="newPassword"
          type="password"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="change-password-container">
        <mat-label class="email-label">Confirm Password</mat-label>
        <input
          matInput
          placeholder="New Password"
          formControlName="confirmPassword"
          type="password"
        />
      </mat-form-field>
    </div>
    <button mat-button class="btn-save" (click)="changePassword()">Save</button>
  </form>
</ng-template>
<!-- change password dialog box ends here -->

<!-- update profile dialog box starts here -->
<ng-template #updateProfile>
  <form class="changepass-form" [formGroup]="updatePasswordForm">
    <div>
      <div class="f-16 font-gray font-600">User Details:</div>
      <div
        *ngIf="!photoUrl"
        class="update-profile-picture mt-10"
        (click)="uploadDP.click()"
      >
        <i class="material-icons">
          cloud_upload
        </i>
      </div>
      <input
        #uploadDP
        style="display: none"
        type="file"
        accept="image/*"
        (change)="uploadDisplayPicture($event)"
      />
      <div *ngIf="photoUrl" class="update-profile-picture">
        <div class="on-hover-upload-logo">
          <i
            title="Remove Picture"
            class="material-icons "
            (click)="deleteProfilePic()"
          >
            delete
          </i>
          <i
            title="Upload Picture"
            class="material-icons ml-10"
            (click)="uploadDP.click()"
          >
            cloud_upload
          </i>
        </div>

        <img
          class="DP-image h-100 w-100"
          [src]="photoUrl"
          alt="Display Picture"
          (click)="uploadDP.click()"
        />
      </div>
      <mat-form-field
        appearance="outline"
        class="update-profile-container mt-20"
      >
        <mat-label class="email-label">Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="update-profile-container">
        <mat-label class="email-label">Email</mat-label>
        <input formControlName="email" matInput readonly type="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="update-profile-container">
        <mat-label class="email-label">Contact Number</mat-label>
        <input
          matInput
          placeholder="Contact Number"
          (keypress)="restrictNumberInput($event)"
          formControlName="contactNumber"
        />
      </mat-form-field>

      <div class="d-flex align-center">
        <div class="f-16 font-gray font-500">Role:</div>
        <div
          class="update-profile-role ml-20 f-16 primary-font-color font-600"
          *ngIf="userProfile"
        >
          {{ userProfile.role | titlecase }}
        </div>
      </div>
    </div>
    <button mat-button class="btn-save mt-20" (click)="onUpdateProfile()">
      Save
    </button>
  </form>
</ng-template>
<!-- update profile dialog box ends here -->


<!--<div class="header-menu" *ngIf="isMenuToggle">-->
<!--  <div class="menu-extra" (click)="isMenuToggle = !isMenuToggle"></div>-->
<!--  <div class="menu-items">-->
<!--    <div class="d-flex align-center just-center mt-10" (click)="userLogout()">-->
<!--      <div class="round_icon_bg logout_ic">-->
<!--        <mat-icon>play_for_work</mat-icon>-->
<!--      </div>-->
<!--      <div class="menu-text ml-10">-->
<!--        Logout-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<popper-content #notificationPopper>-->
<!--  <div class="btn-popup-main-div" style="border: 0px !important">-->
<!--    <div class="notification-popup-heading">-->
<!--      <div style="text-align: left">-->
<!--        &lt;!&ndash;        <div class="notification-heading-text">&ndash;&gt;-->
<!--        &lt;!&ndash;          {{ currentUnreadNotification }} New&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        <div class="notification-small-text">Hand-off Notification</div>&ndash;&gt;-->
<!--        &lt;!&ndash;      </div>&ndash;&gt;-->
<!--        &lt;!&ndash;      <div class="noti-actions-all" *ngIf="listOfNotification.length > 0">&ndash;&gt;-->
<!--        &lt;!&ndash;        <mat-icon&ndash;&gt;-->
<!--        &lt;!&ndash;          *ngIf="!isAllRead"&ndash;&gt;-->
<!--        &lt;!&ndash;          aria-hidden="false"&ndash;&gt;-->
<!--        &lt;!&ndash;          (click)="markNotificationDone('all')"&ndash;&gt;-->
<!--        &lt;!&ndash;        >done&ndash;&gt;-->
<!--        &lt;!&ndash;        </mat-icon&ndash;&gt;-->
<!--        &lt;!&ndash;        >&ndash;&gt;-->
<!--        &lt;!&ndash;        <mat-icon aria-hidden="false" (click)="deleteNotification('all')"&ndash;&gt;-->
<!--        &lt;!&ndash;        >clear&ndash;&gt;-->
<!--        &lt;!&ndash;        </mat-icon&ndash;&gt;-->
<!--        &lt;!&ndash;        >&ndash;&gt;-->
<!--        &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="notification-main-box">-->
<!--        &lt;!&ndash;      <div&ndash;&gt;-->
<!--        &lt;!&ndash;        class="notification-div"&ndash;&gt;-->
<!--        &lt;!&ndash;        [ngClass]="{ 'read-notification': noti.status === 'read' }"&ndash;&gt;-->
<!--        &lt;!&ndash;        *ngFor="let noti of listOfNotification; index as notiIndex"&ndash;&gt;-->
<!--        &lt;!&ndash;      >&ndash;&gt;-->
<!--        &lt;!&ndash;        <div class="d-flex w-80">&ndash;&gt;-->
<!--        &lt;!&ndash;          <img&ndash;&gt;-->
<!--        &lt;!&ndash;            [src]="&ndash;&gt;-->
<!--        &lt;!&ndash;              noti.user.profilePic&ndash;&gt;-->
<!--        &lt;!&ndash;                ? noti.user.profilePic&ndash;&gt;-->
<!--        &lt;!&ndash;                : '../../assets/images/demo_person.jpg'&ndash;&gt;-->
<!--        &lt;!&ndash;            "&ndash;&gt;-->
<!--        &lt;!&ndash;          />&ndash;&gt;-->
<!--        &lt;!&ndash;          <div style="padding-left:5px;">&ndash;&gt;-->
<!--        &lt;!&ndash;            <div&ndash;&gt;-->
<!--        &lt;!&ndash;              (click)="&ndash;&gt;-->
<!--        &lt;!&ndash;                navigateToUser(notificationPopper, notiIndex, noti.user.userId)&ndash;&gt;-->
<!--        &lt;!&ndash;              "&ndash;&gt;-->
<!--        &lt;!&ndash;              class="notification-color-text"&ndash;&gt;-->
<!--        &lt;!&ndash;            >&ndash;&gt;-->
<!--        &lt;!&ndash;              {{ noti.user.userName }}&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            <div class="d-flex align-center">&ndash;&gt;-->
<!--        &lt;!&ndash;              <div class="notification-common-text">&ndash;&gt;-->
<!--        &lt;!&ndash;                <img&ndash;&gt;-->
<!--        &lt;!&ndash;                  src="../../assets/images/facebook.svg"&ndash;&gt;-->
<!--        &lt;!&ndash;                  *ngIf="noti.channel === 'facebook'"&ndash;&gt;-->
<!--        &lt;!&ndash;                />&ndash;&gt;-->
<!--        &lt;!&ndash;                <img&ndash;&gt;-->
<!--        &lt;!&ndash;                  src="../../assets/images/google.svg"&ndash;&gt;-->
<!--        &lt;!&ndash;                  *ngIf="noti.channel === 'google'"&ndash;&gt;-->
<!--        &lt;!&ndash;                />&ndash;&gt;-->
<!--        &lt;!&ndash;                <img&ndash;&gt;-->
<!--        &lt;!&ndash;                  src="../../assets/images/wechat.svg"&ndash;&gt;-->
<!--        &lt;!&ndash;                  *ngIf="noti.channel === 'webchat'"&ndash;&gt;-->
<!--        &lt;!&ndash;                />&ndash;&gt;-->
<!--        &lt;!&ndash;                <img&ndash;&gt;-->
<!--        &lt;!&ndash;                  src="../../assets/images/whatsapp.svg"&ndash;&gt;-->
<!--        &lt;!&ndash;                  *ngIf="noti.channel === 'twilio'"&ndash;&gt;-->
<!--        &lt;!&ndash;                />&ndash;&gt;-->
<!--        &lt;!&ndash;                <img&ndash;&gt;-->
<!--        &lt;!&ndash;                  src="../../assets/images/chat.svg"&ndash;&gt;-->
<!--        &lt;!&ndash;                  *ngIf="noti.channel === 'twilioSms'"&ndash;&gt;-->
<!--        &lt;!&ndash;                />&ndash;&gt;-->
<!--        &lt;!&ndash;                {{ noti.botName }}&ndash;&gt;-->
<!--        &lt;!&ndash;              </div>&ndash;&gt;-->
<!--        &lt;!&ndash;              <div class="notification-common-text" style="padding: 0 5px;">&ndash;&gt;-->
<!--        &lt;!&ndash;                <mat-icon aria-hidden="false">access_time</mat-icon>&ndash;&gt;-->
<!--        &lt;!&ndash;&lt;!&ndash;                {{ noti.date | timeAgo }}&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;              </div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->

<!--        &lt;!&ndash;        <div class="noti-actions w-20">&ndash;&gt;-->
<!--        &lt;!&ndash;          <mat-icon&ndash;&gt;-->
<!--        &lt;!&ndash;            *ngIf="noti.status === 'Unread'"&ndash;&gt;-->
<!--        &lt;!&ndash;            aria-hidden="false"&ndash;&gt;-->
<!--        &lt;!&ndash;            (click)="markNotificationDone(notiIndex)"&ndash;&gt;-->
<!--        &lt;!&ndash;          >done&ndash;&gt;-->
<!--        &lt;!&ndash;          </mat-icon&ndash;&gt;-->
<!--        &lt;!&ndash;          >&ndash;&gt;-->
<!--        &lt;!&ndash;          <mat-icon aria-hidden="false" (click)="deleteNotification(notiIndex)"&ndash;&gt;-->
<!--        &lt;!&ndash;          >clear&ndash;&gt;-->
<!--        &lt;!&ndash;          </mat-icon&ndash;&gt;-->
<!--        &lt;!&ndash;          >&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</popper-content>-->
