@import "../../theme.scss";
.main_container {
  width: 100vw;
  height: 100vh;
}

.side_nav--main {
  width: 100px;
}
.side_nav--item:focus {
  outline: none;
}
.header--main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  height: 80px;
  width: calc(100% - 100px);
  background-color: $header-color;
  z-index: 100001;
}
.notify-icon{
  margin-right: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: $gray-font-color;
}

.side_nav--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 2px solid $header-color;

  img {
    height: 54px;
  }
}

.side_nav--list {
  height: calc(100vh - 100px);
  margin-top: 20px;
  padding-top: 45px;
}

.side_nav--item {
  height: 60px;
  background-color: #f9f9f9;
  color: $primary-color;
  cursor: pointer;

  p {
    margin: 5px 0 0 0!important;
    font-size: 12px;
  }
}

.menu-icon {
  color: $primary-color;
  height: 24px;
  width: 24px;
}

.active-link {
  background-color: $primary-color !important;
  color: white;
  outline: none !important;
}

.header--initial {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $primary-color;
  background-color: $gray-back;
  font-size: 2rem;
  font-weight: 500;
  color: $gray-font-color;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}

.header--initial:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.header--user-name {
  font-weight: 600;
  font-size: 1.4rem;
  color: $gray-font-color;
  margin-left: 10px;
  min-width: 50px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.down-arrow {
  color: $primary-color;
  font-weight: 500;
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.header-menu {
  position: absolute;
  top: 15px;
  right: 50px;
  min-width: 220px;
  z-index: 100;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.menu-items {
  height: 100%;
  background-color: white;
  padding: 0 20px 20px 20px;
}

.bottom-main {
  margin-top: 80px;
  height: 100%;
  min-height: calc(100vh - 80px);
}

.main_div {
  background-color: white;
}

.round_icon_bg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #ebebec;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 20px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logout_ic {
  transform: rotate(-90deg);
}

.menu-text {
  color: $gray-font-color;
  font-size: 1.2rem;
  font-weight: 400;
}

.menu-extra {
  height: 70px;
  width: 100%;
}

.heading-style {
  font-size: 34px;
  color: $font-color;
  font-weight: bolder;
}

.submit-button {
  width: 100%;
  margin: 22px auto;
  text-transform: uppercase;
}

.submit-button button {
  width: 100%;
}

.logout-button button {
  width: 100%;
}

.icon-set {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  transition: width ease 0.3s;
  /*padding: 33px;*/
  height: calc(100vh - 85px);
  padding-top: 45px;
  background-color: #f7f7f7;
}

.link-active {
  color: $primary-color !important;
}

.icon-set a {
  color: #57636e;
}

.icon-set a {
  min-height: 80px;
  transition: transform 0.2s linear;
}

.mat-form-field {
  width: 100%;
}
.rotate-icon {
  transform: rotate(180deg);
}

/* media query for Mobile device with Portrait Mode starts here */
@media (max-width: 576px) and (min-width: 300px) {
  #menu-effect {
    display: none;
    height: 1000vh;
    position: fixed;
    z-index: 999;
  }
  .main-right-div {
    height: 100vh;
    width: 100%;
  }
  .icon-set {
    padding-top: 0;
    height: calc(100vh - 60px);
  }
  .icon-set {
    display: none;
  }
  .bottom-right-container, .hand-off-container {
    height: 100%;
  }
  .middle-header {
    height: 75px;
    width: 100%;
    padding: 0px;
  }

  .menu-toggle-logo-container {
    display: flex;
  }

  .menu-switcher {
    padding: 10px;
    height: 75px;
  }

  .main-btm-div {
    height: calc(100% - 75px);
  }
  .menu-icon {
    font-size: 30px;
  }
  .header-text img {
    width: 130px;
  }
  .user {
    padding: 0;

    //.notification-bell img {
    //  max-height: 20px;
    //  height: 20px;
    //  margin-right: 10px;
    //}

    .userInitialCircle {
      max-height: 40px;
      max-width: 40px;
      font-size: 18px;
      font-weight: 500;
      margin-right: 0px;
    }

    #user-name {
      display: none;
    }

    .user__expand-more {
      font-size: 28px;
    }
  }
}

/* media query for Mobile device with Portrait Mode ends here */

/* media query for Mobile device with Landscape Mode starts here */
@media screen and (min-aspect-ratio: 13/9) and (max-width: 736px) {
}

/* media query for Mobile device with Landscape Mode ends here */

/* media query for ipad and ipad Pro with Portrait Mode starts here */
@media (min-width: 767px) and (max-width: 1025px) and (min-height: 767px) and (max-height: 1367px) and (orientation: portrait) {
  .middle-header {
    padding: 0;
  }
  #menu-effect {
    display: none;
    height: 1000vh;
    position: fixed;
  }
  .main-right-div {
    width: 100%;
  }
}

/* media query for ipad with Portrait Mode ends here */

/* media query for ipad with Landscape Mode starts here */
@media (max-width: 1367px) and (min-width: 767px) and (min-height: 767px) and (max-height: 1025px) and (orientation: landscape) {
}

@media (min-width: 1441px) {
}

/* media query for ipad with Landscape Mode ends here */
.changepass-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.change-password-container,
.update-profile-container {
  width: 100%;
}

.update-profile-picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-size: 24px;
  overflow: hidden;
  cursor: pointer;

  img {
    object-fit: contain;
  }
}

.update-profile-picture:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.update-profile-picture:hover .on-hover-upload-logo {
  color: white;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}

.on-hover-upload-logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.update-profile-role {
  padding: 10px 30px;
  box-shadow: 0px 0px 5px 0px #e4e5e9;
  border-radius: 5px;
}

.btn-save {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: $primary-color;
  align-self: flex-end;
  justify-self: flex-end;
}
.rotate-icon {
  transform: rotate(180deg);
}
