@import "../../../../theme";
.general-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;

  input {
    height: 22px !important;
  }

  input::placeholder, select::placeholder {
    color: $gray-font-color!important;
  }
}

.general-container .left-part {
  width: 40%;
}

.right-part {
  width: 56%;
}

.right-part input, .right-part input::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.timezone-select-container {
  width: 95%;
  padding: 18px 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
  border: 1px solid lightgrey;
  outline: none;
}

.timezone-select-container::placeholder {
  color: $gray-font-color;
  font-weight: 400!important;
}

.timezone-select-container:focus {
  border-color: $primary-color;
}

.timezone-option:hover, .timezone-option:focus {
  background-color: $primary-color!important;
  color: white;
}

.right-part::placeholder {
  color: #cbcbcc!important;
}

.general-checkbox {
  min-width: 105px;
  width: 105px
}

.cdk-overlay-pane{

}


.off-day-title {
  min-width: fit-content;
}
.detail-configuration p{
  margin: 0 !important;
}

@media (max-width: 768px) {
  .general-container {
    max-width: 100%;
    padding: 40px 0 40px 10px;
  }

  .left-part,
  .right-part {
    width: 100%;
  }

  .right-part {
    margin-top: 30px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .general-container {
    width: 100%;
  }

  .left-part,
  .right-part {
    width: 100%;
  }

  .right-part {
    margin-top: 30px;
  }
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .general-container {
    width: 90%;
  }
}

/* media query for screen wider than 1440px with starts here */

@media (min-width: 1441px) {
  .general-container {
    width: 75%;
  }
}

/* media query for screen wider than 1440px with ends here */
