<div class="general-container font-gray" *ngIf="generalSettings">

  <!-- left part starts here -->
  <div class="left-part">
    <mat-form-field [ngClass]="{'redOutline':!isNameValid}" class="w-90" appearance="outline" color="primary">
      <mat-label>Bot Name</mat-label>
      <input matInput placeholder="Bot Name" [(ngModel)]="generalSettings.bot.botName">
    </mat-form-field>

    <div>
      <mat-checkbox (click)="openDialog('putOnHold',putOnHoldTemplate)" class="font-gray f-18 general-checkbox"
                    [(ngModel)]="generalSettings.bot.putOnHold">Put on hold</mat-checkbox>
    </div>

    <div class="mt-20 f-18 font-400 font-cyan">Working hours & Time zone of Organization</div>

    <mat-select class="p-5 mt-10 timezone-select-container" placeholder="Select Timezones"
                [(ngModel)]="generalSettings.organization.timezone.str">
      <mat-option *ngFor="let timezone of timezoneList" class="timezone-option"  [value]="timezone" >
        {{timezone}}
      </mat-option>
    </mat-select>

    <div class="mt-20 ">
      <mat-checkbox class="font-gray f-18 general-checkbox"
                    [(ngModel)]="generalSettings.organization.daylightSavings">Daylight Savings</mat-checkbox>
    </div>

    <div class="mt-20 ">
      <mat-checkbox class="font-gray f-18 general-checkbox"
                    (click)="openDialog('handoffShutdown',putOnHoldTemplate)"
                    [(ngModel)]="generalSettings.organization.isHandOffShutDown">Handoff Shutdown</mat-checkbox>
    </div>
  </div>
  <!-- left part ends here -->

  <!-- right part starts here -->
  <div class="right-part font-gray">
    <mat-radio-group class="f-18" aria-label="Select an option" [(ngModel)]="generalSettings.organization.work24by7">
      <mat-radio-button [value]="true" (change)="generalSettings.organization.work24by7 = true">Online 24*7</mat-radio-button>
      <mat-radio-button class="ml-20" [value]="false" (change)="generalSettings.organization.work24by7 = false">Weekdays & Weekend hours</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="!generalSettings.organization.work24by7" class="mt-30">

      <!-- days starts here -->
      <div class="d-flex align-center" *ngFor="let day of generalSettings.organization.daySpecificWorking">
        <mat-checkbox (click)="setDay(day)" class="font-gray f-16 general-checkbox" [(ngModel)]="day.isEnabled">{{daysWord[day.dayNumber]}}
        </mat-checkbox>

        <mat-form-field class="ml-20" [ngClass]="{'not_allowed':!day.isEnabled}" appearance="outline">
          <input [max]="day.endTime" readonly [(ngModel)]="day.startTime" matInput [ngxTimepicker]="mondayStartTime"
                 placeholder="Start Time">
          <i matPrefix class="material-icons mr-10 font-cyan">
            access_time
          </i>
          <ngx-material-timepicker #mondayStartTime></ngx-material-timepicker>
        </mat-form-field>

        <mat-form-field class="ml-20" [ngClass]="{'not_allowed':!day.isEnabled}" appearance="outline">
          <input readonly [min]="day.startTime" [(ngModel)]="day.endTime" matInput [ngxTimepicker]="mondayEndTime"
                 placeholder="End Time">
          <i matPrefix class="material-icons mr-10 font-cyan">
            access_time
          </i>
          <ngx-material-timepicker #mondayEndTime></ngx-material-timepicker>
        </mat-form-field>
      <ng-container *ngIf="!day.isEnabled">
      <span class="w-fit ml-10 mr-10 f-14 font-400 font-gray off-day-title"
            [ngClass]="{'highlight_text':!day.isPublicHoliday}">Off Day</span>
      <mat-slide-toggle
        class="f-14"
        [(ngModel)]="day.isPublicHoliday"
        [ngClass]="{'highlight_text':day.isPublicHoliday}">
        Public Holiday
      </mat-slide-toggle>
      </ng-container>

      </div>
      <!-- days ends here -->
    </div>


    <div class="mt-60 cust-button float-right pl-40 pr-40" (click)="saveGeneralSettings()">Save</div>
  </div>
  <!-- right part ends here -->
</div>
<!-- add user dialog box starts here -->
<ng-template #putOnHoldTemplate>
  <div class="detail-configuration">
    <p *ngIf="isPutOnHold">{{!generalSettings.bot.putOnHold?'Do you want to put bot On-Hold? This will stop bot from working.' +
      '':
      'Do you want to remove bot from hold?'}}</p>
    <p *ngIf="!isPutOnHold">{{!generalSettings.organization.isHandOffShutDown?'Do you want to Shut-Down the entire ' +
      'Support System? This will not allow any new request to this Support Panel.' +
      '':
      'Do you want to start the entire Support System? This will not allow new requests to this Support Panel.'}}</p>
  <div class="mt-40 d-flex just-end">
    <div  class="cust-button-white float-right mr-10"  (click)="unChecked()">Cancel</div>
    <div  class="cust-button float-right"  (click)="setChecked()">Confirm</div>
  </div>
  </div>
</ng-template>
<!-- add user dialog box ends here -->

