@import "../../../theme.scss";

.hand-off-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 85px);
  background-color: white;
  overflow: auto;
}

.live-chat-list-main-div {
  width: 40%;
  height: 100%;
  padding: 20px;
  z-index: 1;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px -8px rgba(196, 196, 196, 1);
  -moz-box-shadow: 0px 0px 17px -8px rgba(196, 196, 196, 1);
  box-shadow: 0px 0px 17px -8px rgba(196, 196, 196, 1);
}

.user-data {
  font-size: 18px;
  color: $gray-font-color;
  font-weight: 500;
}

.live-chat-list__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

}

.live-chat-list__header {
  font-size: 24px;
  font-weight: 500;
  color: $primary-color;
}

.empty-list-text {
  color: $gray-font-color;
  font-size: 16px;
}

.social-platform-list {
  display: flex;
  width: auto;
}

.social-platform {
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  margin: 0 10px 0 0;
  cursor: pointer;
  filter: grayscale(1);
}

.live-chat-list {
  scroll-behavior: smooth;
  height: calc(100% - 195px);
  overflow-y: auto;
}

.pending-complete-radio-button {
  padding: 20px 20px 20px 0;
}

.coming-soon-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: $primary-color;
}

.user-detail {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  height: 80px;
  width: 100%;
  border: 0.1rem solid #e7e7e8;
  border-radius: 10px;
  margin-bottom: 20px;

  .user-initial-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    margin-right: 10px;
    border: 1px solid #e7e7e8;
    border-radius: 50%;
    background-color: white;
    color: $primary-color;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .user-name {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    max-height: 40px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .other-agent-name{
    font-size: 12px;
    font-weight: 400;
    color: #444444;
  }

  .user-id {
    font-size: 12px;
    color: #acacac;
    font-weight: 400;
  }

  .social-platform-selected {
    min-width: 36px;
  }

  .chat-date-time {
    display: flex;
    flex-direction: column;
    max-height: 40px;
    max-width: 75px;
    min-width: 70px;
    font-size: 12px;
    color: #acacac;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .user-chat-info{
    color: lightgrey;
    font-size: 21px;
    width: 21px;
    margin-left: 5px;
    height: 21px;
  }
}

.user-info-main{
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  .user-info-text{
   font-size: 14px;
    font-weight: 500;
    color: #444444;
    //padding-right: 5px;
    //min-width: 80px;
    text-align: start;
  }
  .user-info-value{
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
  }
}

.user-selected.user-detail {
  background-color: $primary-color;
  border: none;

  .userInitialCircle {
    border: none;
    background-color: white;
  }

  .user-name {
    color: white;
  }
  .other-agent-name {
    color: white;
  }


  .user-id {
    color: white;
  }

  .chat-date-time {
    color: white;
  }
}

.readed-user.user-detail {
  border: 0.1rem solid $primary-color;
}

.selected-chat-main-container {
  width: 60%;
  position: relative;
  height: 100%;
}
.chat-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.show-background-loader{
  background-color: white;
}

.selected-chat-user-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100%;
  padding: 20px;
  color: $primary-color;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e7;
}

.mobile-view-go-back {
  display: none;
}


.selected-chat-user-name {
  display: flex;
  align-items: center;
  justify-content: center;

  .selected-chat-user-initial-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #f7f7f7;
    font-size: 22px;
  }
}

.name-id-container {
  display: flex;
  flex-direction: column;
}

.id-font-style {
  font-size: 12px;
  color: #727272;
}

.select-intent-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 400;
  background-color: $primary-color;
  border: 0.1rem solid #e7e7e8;
  border-radius: 25px;
}

.user-action-circle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  min-width: 50px;
  border: 0.1rem solid #e7e7e8;
  border-radius: 50%;
}

.right-sign-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border: 0.1rem solid $primary-color;
  border-radius: 50%;

  i {
    font-size: 16px;
    font-weight: 600;
  }
}

.agent-name-container {
  padding: 10px;
  border: 0.1rem solid #e7e7e8;
  border-radius: 6px;
}

.display-ongoing-chat-text {
  font-size: 20px;
  font-weight: 400;
  background: #f7f7f7;
  text-align: center;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 30px;
  border-top: 1px solid #e6e6e7;
}

.conversation-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid #e7e7e8;
  border-radius: 15px;
  color: white;
  background-image: linear-gradient(to right, #18C2C4, #25B26A);
  padding: 15px;
  cursor: pointer;

  img {
    height: 16px;
  }
}

.chat-container {
  height: calc(100% - 185px);
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  opacity: 1;
  transition: opacity .3s;
}
.hideChat{
  opacity: 0;
  //transition: opacity .3s;
}
.decide-handoff {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 400;
  flex-direction: column;
}

.applied-for-handoff {
  background-color: $slate-gray;
  border: none !important;

  .user-name {
    color: white;
  }

  .user-id {
    color: white;
  }

  .chat-date-time {
    color: white;
  }

  .user-initial-circle {
    color: $slate-gray;
  }
}

.does-applied-for-handoff {
  background-color: #bbbbbb96;
  border: none !important;

  .user-name {
    color: white;
  }

  .user-id {
    color: white;
  }

  .chat-date-time {
    color: white;
  }

  .user-initial-circle {
    color: #bbbbbb96;
  }
}

.dot-hasAppliedForHandOff {
  background-color: $slate-gray;
  padding: 5px;
  border-radius: 50%;
  margin-top: 2px;
}

.dot-doesNothasAppliedForHandOff {
  background-color: #bbbbbb96;
  padding: 5px;
  border-radius: 50%;
  margin-top: 2px;
}
.user-reply-image{
  width: 55%;
}
.user-reply {
  display: flex;
  max-width: 55%;
  margin-bottom: 10px;
  word-break: break-word;
}

.user-icon, .bot-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  min-height: 40px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 10px;
  background-color: #f7f7f7;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #e7e7e8;
  color: $primary-color;
}
.user-icon img, .bot-icon img{
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.user-bubble-image{
  width: 100%;
  background-color: unset !important;
  border-radius: 15px !important;
}
.user-bubble {
  border-radius: 0 15px 15px 15px;
  background-color: #e7e7e8;
  color: #444444;
  display: flex;
  align-items: flex-end;

  .user-bubble-message-text {
    padding: 10px 15px;
    position: relative;
    .user-bubble-agent-msg-text{
      margin-right: 55px;
    }
    .user-bubble-time {
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
      min-width: 52px;
      float: right;
      position: absolute;
      bottom: 5px;
      right: 10px;
      align-items: flex-end;
      color: #a9a9a9;
    }

  }
  .user-bubble-message-image {
    cursor: pointer;
    width: 100%;
      height: 240px;
    border:2px solid #e7e7e8;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 17px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    position: relative;
    .user-bubble-time {
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
      min-width: 52px;
      float: right;
      position: absolute;
      bottom: 5px;
      right: 10px;
      align-items: flex-end;
      color: #a9a9a9;
    }
  }
}
.attachment-btn{
  height: 40px;
  width: 40px;
  background-color: white;
  color: $primary-color;
  border-radius: 50px;
  border: 0.1rem solid #e7e7e8;
  mat-icon{
    height: 24px;
    width: 24px;
    color: $primary-color;
    font-size: 24px;
  }
}
.attachment-btn:hover{
  box-shadow: 0 0 10px 0 #e6e6e7;
}

.bot-icon {
  margin-left: 10px;
  margin-right: 0;
  height: 40px;
}

.bot-reply-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}
.bot-detail-text{
  text-align: center;
  font-style: italic;

}

.bot-reply {
  display: flex;
  max-width: 55%;
  color: white;
}
.bot-reply-img{
  width: 55%;
}
.bot-reply-audio{
  width: 45%;
}
.bot-bubble-img{
  border-radius: 17px !important;
  border: 2px solid $primary-color !important;
  background-color: white !important;
}
.bot-bubble-audio{
  border-radius: 15px !important;
}
.bot-bubble-doc{
  border-radius: 15px !important;
}
.bot-bubble {
  border-radius: 15px 0 15px 15px;
  background-color: $primary-color;
  display: flex;
  width: 100%;
  align-items: flex-end;

  .bot-bubble-agent-msg {
    padding: 10px 15px;
    position: relative;
    width: 100%;
    .bot-bubble-agent-msg-text{
      margin-right: 55px;
    }
    .bot-bubble-agent-time {
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
      min-width: 52px;
      float: right;
      font-weight: 300;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

  }
  .bot-bubble-agent-img {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 15px;
    position: relative;
    .progress{
      opacity: .5;
    }
    .bot-bubble-agent-time {
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
      min-width: 52px;
      float: right;
      font-weight: 300;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

  }
  .bot-bubble-agent-audio {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    .audio-preview{
      height: 50px;
      min-width: 200px;
      padding-top: 5px;
      width: 100%;
      outline: none;
    }
    .download{
      color: white;
      height: 24px;
      margin-left: 10px;
      width: 24px;
      font-size: 24px;
      cursor: pointer;
    }
    .progress{
      opacity: .5;
      .audio-spinner::ng-deep circle{
        stroke: white !important;
      }
    }
    .bot-bubble-agent-time {
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
      min-width: 52px;
      float: right;
      font-weight: 300;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

  }
  .bot-bubble-agent-doc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    .bot-bubble-agent-doc-detail{
      padding-right: 10px;
      img{
        height: 30px;
        width: 30px;
      }
      span{
        padding-left: 10px;
      }
    }
    .download{
      margin-bottom: 10px;
      color: white;
      height: 24px;
      margin-left: 10px;
      width: 24px;
      font-size: 24px;
      cursor: pointer;
    }
    .progress{
      opacity: .5;
      .audio-spinner::ng-deep circle{
        stroke: white !important;
      }
    }
    .bot-bubble-agent-time {
      display: flex;
      justify-content: flex-end;
      font-size: 11px;
      min-width: 52px;
      float: right;
      font-weight: 300;
      position: absolute;
      bottom: 5px;
      right: 10px;
    }

  }


}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 30px;
  border-top: 1px solid #e6e6e7;
  background-color: white;

  textarea {
    height: 40px;
    width: 99%;
    outline: none;
    max-height: 90px !important;
    border: none;
    overflow: auto !important;
    font-size: 16px;
    color: $gray-font-color;
    resize: none;
    font-family: 'Lato', sans-serif;
  }

  img {
    min-height: 55px;
    min-width: 55px;
    height: 55px;
    width: 55px;
    cursor: pointer;
  }
}

.support-button-toggle mat-button-toggle{
  color: #707070;
}
.support-button-toggle-selected{
  color: white !important;
}
.input-suffix{
  font-size: 30px;
  height: 30px;
  width: 30px;
}
.intent-list{
  max-height: 30vh;
  height: fit-content;
  overflow: auto;
  padding-right: 5px;
  scroll-behavior: smooth;
  .intent{
    display: flex;
    cursor: pointer;
    background-color: white !important;
    border:2px solid #e7e7e8 !important;
    padding: 10px;
    color: $text-color;
    font-weight: 400;
    border-radius: 10px;
    span{
      padding-right: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .intent-selected{
    background-color: $primary-color !important;
    border:1px solid $primary-color !important;
    color: white !important;
  }
}

@media (max-width: 576px) and (min-width: 300px) {
  .selected-chat-main-container {
    display: none;
  }
  .hand-off-container {
    height: 100%;
  }
  .decide-handoff {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
  }
  .mobile-view-go-back {
    display: flex;
    align-items: baseline;
    margin-right: 10px;

    i {
      font-size: 40px !important;
    }
  }

  .live-chat-list-main-div {
    width: 100%;
    height: calc(100vh - 75px);
    padding: 20px;
  }

  .live-chat-list {
    height: calc(100% - 180px);
  }

  .selected-chat-main-container {
    width: 100%;
    height: calc(100% - 75px);
  }

  .selected-chat-user-name .selected-chat-user-initial-circle {
    min-height: 50px;
    min-width: 50px;
  }

  .selected-chat-user-detail {
    padding: 0 10px;
  }

  .conversation-status-container {
    padding: 10px;
    width: auto;

    img {
      height: 25px;
      margin-left: 0 !important;
    }
  }

  .conversation-status {
    display: none;
  }

  .chat-container {
    height: calc(100% - 85px);
    padding: 10px;
  }

  .user-reply {
    max-width: 90%;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .bot-reply-container {
    margin-bottom: 15px;
  }

  .bot-reply {
    max-width: 90%;
    font-size: 14px;
  }


  .input-container {
    height: 70px;
    margin-top: 5px;
    padding: 10px;

    img {
      min-height: 35px;
      min-width: 35px;
      height: 35px;
      width: 35px;
    }
  }
}

.social-platform:hover {
  filter: grayscale(0);
}

.chat-tooltip {
  background: red !important;
}

/* media query for Mobile device with Portrait Mode ends here */

/* media query for Mobile device with Landscape Mode starts here */
@media screen and (min-aspect-ratio: 13/9) and (max-width: 736px) {
}

/* media query for Mobile device with Landscape Mode ends here */

/* media query for ipad and ipad Pro with Portrait Mode starts here */
@media (min-width: 767px) and (max-width: 1025px) and (min-height: 767px) and (max-height: 1367px) and (orientation: portrait) {
  .selected-chat-user-detail {
    padding: 0 10px;
  }
  .pending-complete-radio-button {
    padding: 10px 10px 10px 0;
  }
  .live-chat-list-main-div {
    width: 100%;
    height: calc(100vh - 90px);
    padding: 20px;
  }
  .selected-chat-main-container {
    display: none;
    width: 100%;
  }
  .mobile-view-go-back {
    display: block;
  }
}

/* media query for ipad with Portrait Mode ends here */

/* media query for ipad with Landscape Mode starts here */
@media (max-width: 1367px) and (min-width: 767px) and (min-height: 767px) and (max-height: 1025px) and (orientation: landscape) {
}

@media (min-width: 1441px) {
}

/* media query for ipad with Landscape Mode ends here */
.human-pixel-spinner {
  margin: 10px auto 0 30px;
  width: auto;
}

.human-pixel-spinner > div {
  width: 10px;
  height: 10px;
  background-color: #18C2C4;
  margin-right: 5px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.human-pixel-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.human-pixel-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation: flash 3s linear infinite;
}


 .popup{
               width: 900px;
               margin: auto;
               text-align: center
           }
           .popup img{
               width: 200px;
               height: 200px;
               cursor: pointer
           }
           .show{
               z-index: 999;
               display: none;
           }
           .show .overlay{
               width: 100%;
               height: 100%;
               background: rgba(0,0,0,.66);
               position: fixed;
               top: 0;
               z-index: 1;
               left: 0;
               display: flex;
               align-items: center;
               justify-content: center;
           }
           .show .img-show{
             width: 80vw;
             height: 80vh;
             background: #FFF;
             position: fixed;
             top: calc( 50% + 40px);
             z-index: 10;
             left: calc( 50% + 50px);
             -webkit-transform: translate(-50%, -50%);
             transform: translate(-50%, -50%);
             overflow: hidden;
           }
           .img-show .img-preview-action{
               position: absolute;
               top: 10px;
               right: 10px;
               z-index: 99;
               cursor: pointer;
               color: white;
               font-weight: 500;
           }
           .img-preview-action-icon{
             margin-left: 10px;
             border-radius: 30px;
             height: 30px;
             width: 30px;
             display: flex;
             box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
             align-items: center;
             justify-content: center;
             background-color: $primary-color;

           }
           .img-preview-action-icon mat-icon{
             color: white;
             font-size: 20px;
             width: 20px;
             height: 20px;
           }
           .img-show img {
             width: 100%;
             height: 100%;
             position: absolute;
             top: 0;
             left: 0;
             z-index: 10;
           }

