<ng-container>
  <div class="hand-off-container">
    <div class="live-chat-list-main-div">
      <div class="live-chat-list__header-container">
        <div class="live-chat-list__header">Live Chat</div>
<!--        <div class="social-platform-list">-->
<!--          <img class="social-platform" src="../../../assets/images/live-chat/wechat-color.svg"-->
<!--               (click)="mediumSelected('wc')" id="wc" matTooltip="Web chat" matTooltipClass="chat-tooltip"-->
<!--               [matTooltipPosition]="'above'"/>-->
<!--          <img class="social-platform" src="../../../assets/images/live-chat/fb-color.svg" matTooltip="Facebook"-->
<!--               [matTooltipPosition]="'above'" id="fb" matTooltipClass="chat-tooltip"-->
<!--               (click)="mediumSelected('fb',comingSoon)"/>-->
<!--          <img class="social-platform" src="../../../assets/images/live-chat/whatsapp-color.svg" matTooltip="Whatsapp"-->
<!--               [matTooltipPosition]="'above'" matTooltipClass="chat-tooltip"-->
<!--               (click)="mediumSelected('wa',comingSoon)" id="wa"/>-->
<!--          <img class="social-platform" src="../../../assets/images/live-chat/slack-color.svg" matTooltip="Slack"-->
<!--               [matTooltipPosition]="'above'" id="sl" matTooltipClass="chat-tooltip"-->
<!--               (click)="mediumSelected('sl',comingSoon)"/>-->
<!--        </div>-->
      </div>
      <div class="mt-10">
        <mat-button-toggle-group name="fontStyle" [(ngModel)]="chatWith" class="w-100 support-button-toggle" aria-label="Font Style">
          <mat-button-toggle class="w-50" [checked]="chatWith==='chatWithAgent'" value="chatWithAgent"
                             (click)="setChat('chatWithAgent')"
                              [ngClass]="{'support-button-toggle-selected':chatWith==='chatWithAgent'}">
            Chat with Agent
          </mat-button-toggle>
          <mat-button-toggle class="w-50" [checked]="chatWith==='chatWithBot'" value="chatWithBot" (click)="setChat('chatWithBot')"
                             [ngClass]="{'support-button-toggle-selected':chatWith==='chatWithBot'}">
            Chat with Bot</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <mat-radio-group *ngIf="chatWith === 'chatWithAgent'" [(ngModel)]="chatType" class="d-flex mt-10  flex-wrap
       f-14 standard-font-color"
                       aria-label="Select an option">
        <mat-radio-button class="live-chat-radio-button pb-10 pr-10" value="newRequest"
                          (change)="displayUser('','chatWithAgent','newRequest');">
          New Requests
        </mat-radio-button>
        <mat-radio-button class="live-chat-radio-button pb-10 pr-10" checked value="myRequest"
                          (change)="displayUser('','chatWithAgent','myRequest');">
          Assigned to me
        </mat-radio-button>
        <mat-radio-button class="live-chat-radio-button pb-10" value="othersRequest"
                          (change)="displayUser('','chatWithAgent','othersRequest');">
          Assigned to
          other agent
        </mat-radio-button>
      </mat-radio-group>

      <mat-radio-group *ngIf="chatWith === 'chatWithBot'" [(ngModel)]="chatType"
                       class="d-flex mt-10  f-14 flex-wrap standard-font-color"
                       aria-label="Select an option">
        <mat-radio-button class="live-chat-radio-button pb-10 pr-10" checked value="neverApplied"
                          (change)="displayUser('','chatWithBot','neverApplied');
                          chatType === 'neverApplied'">Never Applied for handoff
        </mat-radio-button>
        <mat-radio-button class="live-chat-radio-button pb-10" value="applied"
                          (change)="displayUser('','chatWithBot','applied');
                          chatType === 'applied'">Applied for handoff
        </mat-radio-button>
      </mat-radio-group>
      <div class="d-flex mb-20 just-space-bet align-center search-bar search-bar-chat w-100">
        <input class="w-95" placeholder="Search"  [(ngModel)]="search"  (keydown)="getSearchList($event)"/>
        <i class="material-icons search-bar-icon"
           (click)="getUserList(false,true)">
          search
        </i>
      </div>
      <div class="live-chat-list"
           *ngIf="isUserListSet"
           infiniteScroll
           [scrollWindow]="false"
           [infiniteScrollDistance]="1"
           [infiniteScrollUpDistance]="2"
           [infiniteScrollThrottle]="50"
           [fromRoot]="true"
           (scrolled)="onScrollDown()"
           (scrolledUp)="onScrollUp()">
        <ng-container *ngIf="!enableLoader">
          <app-loader></app-loader>
        </ng-container>
        <ng-container *ngIf="enableLoader">
          <div *ngIf="listOfUsers.length <=0"
               class="h-100 d-flex align-center just-center user-data">
            No user found
          </div>
          <div *ngIf="listOfUsers.length > 0">
            <div *ngFor="let userList of listOfUsers let i=index" class="user-detail"
                 [ngClass]="{'readed-user': (!userList.isAlreadyAssigned ||userList.isAssignedByOtherAgent ) && chatWith==='chatWithAgent',
                 'flash':(!userList.isAlreadyAssigned ||userList.isAssignedByOtherAgent ) && chatWith==='chatWithAgent'}"
                 (click)="selectedUser(userList,i, callTranscript)">

              <div class="d-flex align-center user-name">
                <div class="user-initial-circle">
                  <span>{{userList.name && userList.name.length > 0 ?userList.name.substr(0, 1):'U'}}</span>
                </div>
                <div class="d-flex flex-column">
                  <div class="user-name"
                       [popper]="userDetails"
                       [popperPlacement]="'top'"
                       [popperTrigger]="(userList.email || userList.contactNumber?'hover':'none')"
                       [popperHideOnMouseLeave]="false"
                       [popperHideOnClickOutside]="true"
                       [popperPreventOverflow]="false"
                       [popperPositionFixed]="true"
                       [popperApplyClass]="'option_menu_popper'"
                       [popperApplyArrowClass]="'option_menu_arrow'"
                  >{{ (userList.name && userList.name.length > 0 ? userList.name :'Web User') }}
                    </div>
                  <popper-content #userDetails>
                    <div class="user-info-main">
                      <div class="d-flex align-center" *ngIf="userList.contactNumber">
                        <span class="user-info-text">Contact No </span>
                        <span class="user-info-value"> : {{userList.contactNumber}}</span>
                      </div>
                      <div class="d-flex align-center" *ngIf="userList.email">
                        <span class="user-info-text">Email </span>
                        <span class="user-info-value"> : {{userList.email}}</span>
                      </div>

                    </div>
                  </popper-content>
                  <span  *ngIf="userList.isAssignedByOtherAgent" class="other-agent-name">Assigned by - {{userList.oldAgentName}}</span>
                </div>
              </div>
              <img class="social-platform" src="../../../assets/images/live-chat/wechat-color.svg"/>
              <div class="chat-date-time">
                <span>{{ userList.lastInteraction | date:'mediumDate' }}</span>
                <span>{{ userList.lastInteraction | date:'shortTime'  }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="selected-chat-main-container">
      <div class="chat-loader" *ngIf="!isChatSet" [ngClass]="{'show-background-loader':enableLoaderchatLoader}">
        <app-loader></app-loader>
      </div>
      <ng-container *ngIf="!enableLoaderchatLoader">
        <ng-container *ngIf="!transcriptOfUser && transcriptOfUser!=='displayError'">
          <div class="d-flex align-center just-center h-100 flex-column">
            <div>
              <img src="../../../assets/images/live-chat/speech-bubble.svg">
            </div>
            <div class="empty-list-text">Please select the thread to start messaging</div>
          </div>
        </ng-container>
        <ng-container *ngIf="((transcriptOfUser && transcriptOfUser.transcript) || transcriptOfUser === 'displayError') || (editId && transcriptOfUser==='')">
          <div class="selected-chat-user-detail">
            <div class="selected-chat-user-name">
              <div (click)="backToChatList()" class="mobile-view-go-back">
                <mat-icon matPrefix class="icon"><i class="material-icons icon">
                  keyboard_arrow_left
                </i></mat-icon>
              </div>
              <div  class="selected-chat-user-initial-circle">{{selectedUserIndex && listOfUsers[selectedUserIndex] &&
              listOfUsers[selectedUserIndex].name &&
              listOfUsers[selectedUserIndex].name.length > 0 ?
                listOfUsers[selectedUserIndex].name.substr(0, 1):'U'}}</div>
              <div  class="name-id-container">
                <span>{{selectedUserIndex && listOfUsers[selectedUserIndex] && listOfUsers[selectedUserIndex].name ? listOfUsers[selectedUserIndex].name : 'Web User'}}</span>
              </div>
            </div>

            <div class="d-flex align-center" >
              <div *ngIf="errorMessages" class="select-intent-button" (click)="openDialog(selectIntent,'selectIntent')">Select Intent</div>
              <div *ngIf="errorMessages" class="ml-10 user-action-circle bg-cyan font-white" matTooltip="Assign to another agent"
                   (click)="openDialog(selectAgent,'assignAgent')">
                <i class="material-icons">
                  how_to_reg
                </i>
              </div>

              <div *ngIf="chatType==='othersRequest'" class="agent-name-container ml-10">
                <div class="font-cyan f-12 font-400">
                  Assign Agent
                </div>
                <div class="f-12 mt-5 font-400 font-gray">
                  {{transcriptOfUser.agentAssigned}}
                </div>
              </div>

              <div *ngIf="errorMessages" class="user-action-circle ml-10" matTooltip="Resolve chat"
                   (click)="sendCompleteActivity(askConformationtoEndChat)">
                <div class="right-sign-circle" >
                  <i class="material-icons font-cyan">
                    check
                  </i>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-container" id="chat-area"
               [ngClass]="{hideChat:!isScrollDone}">
            <ng-container *ngIf="transcriptOfUser === 'displayError'">
              <div class="d-flex align-center just-center h-100 empty-list-text">
                No conversation performed
              </div>
            </ng-container>
            <ng-container *ngIf="transcriptOfUser!=='displayError'">
              <ng-container *ngFor="let msg of transcriptOfUser.transcript">
                <div class="user-reply" *ngIf="!msg.isFromBot" [ngClass]="{'user-reply-image':msg.type==='image'}">
                  <div class="user-icon">

                    <span>{{selectedUserIndex && listOfUsers[selectedUserIndex] && listOfUsers[selectedUserIndex].name &&
                    listOfUsers[selectedUserIndex].name.length > 0 ?
                      listOfUsers[selectedUserIndex].name.substr(0, 1):'U'}}</span>
                  </div>
                  <div class="user-bubble" [ngClass]="{'user-bubble-image':msg.type==='image'}">

                    <div *ngIf="msg.type==='text'" class="user-bubble-message-text">
                      <span class="user-bubble-agent-msg-text">{{msg.text}}</span>
                      <span class="user-bubble-time">
                      {{msg.timestamp | date:'shortTime'}}
                    </span>
                    </div>
                    <div *ngIf="msg.type==='image'"
                         class="user-bubble-message-image"
                         [ngStyle]="{'background-image':
                         'url('+msg.url+')'}"
                        (click)="OpenPreview(msg.url)"
                        matTooltip="Click to preview screenshot"
                   >
                      <span class="user-bubble-time">
                      {{msg.timestamp | date:'shortTime'}}
                    </span>
                    </div>

                  </div>
                </div>
                <div class="bot-reply-container" *ngIf="msg.isFromBot">
                  <div class="bot-reply" *ngIf="msg.type!=='detailText'" [ngClass]="{'bot-reply-img':msg.type==='image',
                  'bot-reply-audio':msg.type==='audio'}">
                    <!--                       TEXT               -->
                    <div *ngIf="!msg.type || msg.type==='text' || msg.type==='attachment'" class="bot-bubble">
                      <div  class="bot-bubble-agent-msg">
                        <span class="bot-bubble-agent-msg-text">
                        {{msg.text}}

                           </span>
                        <span class="bot-bubble-agent-time">
                        {{msg.timestamp | date:'shortTime'}}
                      </span>
                      </div>
                    </div>
                    <!--                      End TEXT               -->
                    <!--                       image               -->
                    <div *ngIf="msg.type==='image'"  class="bot-bubble bot-bubble-img">
                    <div  class="bot-bubble-agent-img"
                         [ngStyle]="{'background-image':'url('+msg.url+')'}"
                          (click)="OpenPreview(msg.url)"
                          matTooltip="Click to preview image">
                      <ng-container *ngIf="msg.isUploaded!==undefined">
                        <div class="progress"  *ngIf="!msg.isUploaded">
                          <mat-progress-spinner
                            class="example-margin"
                            color="primary"
                            diameter="50"
                            mode="indeterminate"
                          >
                          </mat-progress-spinner>
                        </div>
                      </ng-container>


                      <span class="bot-bubble-agent-time">
                        {{msg.timestamp | date:'shortTime'}}
                      </span>
                    </div>

                    </div>
                    <!--                      End image               -->
                    <!--                       AUDIO               -->
                    <div *ngIf="msg.type==='audio'"  class="bot-bubble bot-bubble-audio">
                      <div  class="bot-bubble-agent-msg">
                        <div  class="bot-bubble-agent-audio">
                          <ng-container *ngIf="msg.isUploaded!==undefined">
                          <div class="progress"  *ngIf="!msg.isUploaded">
                            <mat-progress-spinner
                              class="audio-spinner"
                              color="primary"
                              diameter="50"
                              mode="indeterminate"
                            >
                            </mat-progress-spinner>
                          </div>
                          </ng-container>
                          <div>
                            <span>{{msg.text}}</span>
                            <audio class="audio-preview" controls *ngIf="msg.url">
                              <source [src]="msg.url" type="audio/mpeg" />
                              Your browser does not support the audio element.
                            </audio>
                          </div>
                          <a target="_blank" download [href]="msg.url" style="outline: none">
                          <mat-icon class="download" *ngIf="msg.url">cloud_download</mat-icon>
                          </a>
                        </div>
                        <span class="bot-bubble-agent-time">
                          {{msg.timestamp | date:'shortTime'}}
                        </span>
                      </div>
                    </div>
                    <!--                      End AUDIO               -->
                    <!--                       AUDIO               -->
                    <div *ngIf="msg.type==='document'"  class="bot-bubble bot-bubble-doc">
                      <div  class="bot-bubble-agent-msg">
                        <div  class="bot-bubble-agent-doc">
                          <ng-container *ngIf="msg.isUploaded!==undefined">
                          <div class="progress"  *ngIf="!msg.isUploaded">
                            <mat-progress-spinner
                              class="audio-spinner"
                              color="primary"
                              diameter="50"
                              mode="indeterminate"
                            >
                            </mat-progress-spinner>
                          </div>
                          </ng-container>
                          <div class="d-flex align-center bot-bubble-agent-doc-detail">
                            <img alt="document"
                                 [src]="msg.text.split('.')[msg.text.split('.').length-1]==='pdf'?
                                 '../../../assets/images/live-chat/pdf.svg':'../../../assets/images/live-chat/doc.svg'"/>
                            <span>{{msg.text}}</span>

                          </div>
                          <a target="_blank" download [href]="msg.url" style="outline: none">
                          <mat-icon class="download" *ngIf="msg.url">cloud_download</mat-icon>
                          </a>
                        </div>
                        <span class="bot-bubble-agent-time">
                          {{msg.timestamp | date:'shortTime'}}
                        </span>
                      </div>
                    </div>
                    <!--                      End AUDIO               -->

                    <div class="bot-icon">
                      <ng-container *ngIf="msg.isFrom==='bot'">
                      <img *ngIf="transcriptOfUser.botIconObj.url"
                           [src]="transcriptOfUser.botIconObj.url?transcriptOfUser.botIconObj.url:''
                      "/>
                      <span *ngIf="transcriptOfUser.botIconObj.name">
                        {{transcriptOfUser.botIconObj.name?
                        transcriptOfUser.botIconObj.name.substr(0, 1):'B'}}</span>
                      </ng-container>
                      <ng-container *ngIf="msg.isFrom==='agent'">
                      <img *ngIf="(msg.isFrom==='agent' && msg.agentId && transcriptOfUser.agentProfileObj!==null &&
                      transcriptOfUser.agentProfileObj[msg.agentId] && transcriptOfUser.agentProfileObj[msg.agentId].url)"
                           [src]="msg.isFrom==='agent' && msg.agentId && transcriptOfUser.agentProfileObj[msg.agentId] &&
                            transcriptOfUser.agentProfileObj[msg.agentId].url?
                      transcriptOfUser.agentProfileObj[msg.agentId].url:photoUrl
                      "/>
                        <img *ngIf="(msg.isFrom==='agent' && transcriptOfUser.agentProfileObj===null && photoUrl)" [src]="photoUrl"/>
                        <span *ngIf="(msg.isFrom==='agent' && transcriptOfUser.agentProfileObj===null && !photoUrl) ||
(msg.isFrom==='agent' && msg.agentId && (transcriptOfUser.agentProfileObj && !transcriptOfUser.agentProfileObj[msg.agentId]) &&
!photoUrl)">
                        {{userName?userName.substr(0, 1):'A'}}</span>
                      <span *ngIf="msg.isFrom==='agent' && msg.agentId && transcriptOfUser.agentProfileObj &&
                       transcriptOfUser.agentProfileObj[msg.agentId] &&
                       transcriptOfUser.agentProfileObj[msg.agentId].name">
                        {{msg.agentId && transcriptOfUser.agentProfileObj[msg.agentId].name?
                        transcriptOfUser.agentProfileObj[msg.agentId].name.substr(0, 1):'A'}}</span>
                      <span *ngIf="msg.isFrom==='agent' && !msg.agentId ">
                        {{'A'}}</span>
                      </ng-container>
                    </div>
                  </div>
                  <div *ngIf="msg.type==='detailText'" class="w-100 bot-detail-text">{{msg.text}}</div>
                </div>
              </ng-container>
              <!--              <div class="human-pixel-spinner" *ngIf="isWaitingEnable">-->
              <!--                <div class="bounce1"></div>-->
              <!--                <div class="bounce2"></div>-->
              <!--                <div class="bounce3"></div>-->
              <!--              </div>-->
            </ng-container>
          </div>
          <div [ngClass]="[!errorMessages ? 'display-ongoing-chat-text':'input-container']">
            <ng-container *ngIf="errorMessages">
              <label class="w-100">
            <textarea autosize #input placeholder="Type message"
          (keyup)="getInputValue(input.value,$event)"></textarea>
              </label>
              <div class="d-flex align-center">
                <input
                  #image
                  type="file"
                  accept="image/*,audio/*,.svg,.doc,.docx,.pdf"
                  style="display: none"
                  (change)="fileUpload($event)"
                />
              <div class="attachment-btn mr-10 d-flex align-center just-center cursor-pointer"
                   (click)="image.click()">
                <mat-icon>attach_file</mat-icon>
              </div>
              <img src="../../../assets/images/live-chat/send-icon.svg" (click)="getInputValue(input.value)" alt="send"/>
              </div>
            </ng-container>

            <ng-container *ngIf="!errorMessages && chatType === 'newRequest'">
              <div class="d-flex just-center align-center h-100 w-100">
                <div class="p-15 pl-30 pr-30 font-white border-radius-10 bg-cyan" style="cursor: pointer"
                     (click)="showUserConfirmation(callTranscript)">
                  Confirm Request
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!errorMessages && chatType === 'othersRequest'">
              {{'This chat is already assigned to '+transcriptOfUser.agentAssigned+' .'}}
            </ng-container>
            <ng-container *ngIf="!errorMessages && chatType === 'neverApplied'">
              <div class="d-flex just-center align-center" [ngClass]="{not_allowed_opacity:transcriptOfUser === 'displayError'}">
                <div class="p-15 pl-30 pr-30 border-radius-10 cursor-pointer bg-cyan font-white"
                     (click)="showUserConfirmation(callTranscript)"
                     [ngClass]="{cursor_not_allow:transcriptOfUser === 'displayError'}">
                  Open Conversation
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="!errorMessages && chatType === 'applied'">
              <div class="d-flex just-center align-center" [ngClass]="{not_allowed_opacity:transcriptOfUser === 'displayError'}">
                <div class="p-15 pl-30 pr-30 border-radius-10 cursor-pointer bg-cyan font-white"
                     (click)="showUserConfirmation(callTranscript)"
                     [ngClass]="{cursor_not_allow:transcriptOfUser === 'displayError'}">
                  Re-Open Conversation
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #comingSoon>
  <div>
    <h1 mat-dialog-title class="d-flex just-center">
      <img src="../../../assets/images/login/logo-Kevit-Horizontal.svg">
    </h1>
    <div mat-dialog-content class="d-flex just-center align-center coming-soon-text">
      <ng-container *ngIf="displaycomingSoonModel==='fb'">
        <img src="../../../assets/images/live-chat/fb-color.svg">
      </ng-container>
      <ng-container *ngIf="displaycomingSoonModel==='wa'">
        <img src="../../../assets/images/live-chat/whatsapp-color.svg">
      </ng-container>
      <ng-container *ngIf="displaycomingSoonModel==='sl'">
        <img src="../../../assets/images/live-chat/slack-color.svg">
      </ng-container>
      <span class="ml-20">Coming Soon</span>
    </div>
    <mat-dialog-actions align="end">
      <button
        mat-button
        color="primary"
        [mat-dialog-close]="true"
        cdkFocusInitial
      >
        Cancel
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>
<ng-template #callTranscript>
  <div>
    <div mat-dialog-content class="d-flex  align-center">
      Do you want to start chat ?
    </div>
    <div class="mt-40 d-flex just-end">
      <div  class="cust-button-white float-right mr-10"  mat-dialog-close>No</div>
      <div  class="cust-button float-right"  [mat-dialog-close]="true"
            cdkFocusInitial>Yes</div>
    </div>
  </div>
</ng-template>

<ng-template #askConformationtoEndChat>
  <div>
    <div mat-dialog-content class="d-flex  align-center">
      Do you want to mark chat as resolved ?
    </div>
    <div class="mt-40 d-flex just-end">
      <div  class="cust-button-white float-right mr-10"  mat-dialog-close>No</div>
      <div  class="cust-button float-right"  [mat-dialog-close]="true"
            cdkFocusInitial>Yes</div>
    </div>
  </div>
</ng-template>

<!-- select intent dialog box starts here -->
<ng-template #selectIntent>
    <div>
      <div class="w-100 d-flex just-end">
        <div class="d-flex just-space-bet align-center search-bar">
          <input class="w-95" placeholder="Search"  [(ngModel)]="searchIntent"  (keydown)="getIntentSearchList($event)"/>
          <i class="material-icons search-bar-icon"
             (click)="doSearchIntents()">
            search
          </i>
        </div>
      </div>

      <div class="f-16 font-gray pb-10 pt-10 font-500">Intents</div>
      <div class="intent-list">
        <div class="intent mb-10" *ngFor="let intent of searchIntents;index as iIndex"
             [ngClass]="{'intent-selected':iIndex===selectedIntentIndex}"
        (click)="selectedIntentIndex=iIndex;">
          {{intent.displayName}}
        </div>
      </div>
      <button mat-button class="btn-save mt-20" (click)="sendIntent()">Add</button>
    </div>
</ng-template>
<!-- select intent dialog box ends here -->
<!-- select intent dialog box starts here -->
<ng-template #selectAgent>
  <div>
    <div class="w-100 d-flex just-end">
      <div class="d-flex just-space-bet align-center search-bar">
        <input class="w-95" placeholder="Search"  [(ngModel)]="searchAgent"  (keydown)="getAgentSearchList($event)"/>
        <i class="material-icons search-bar-icon"
           (click)="doSearchAgents()">
          search
        </i>
      </div>
    </div>
    <div class="intent-list">
      <div class="d-flex w-100 p-10">
        <div class="f-16 font-gray  w-40 font-500">Name</div>
        <div class="f-16 font-gray  w-60 font-500">Email</div>
      </div>
      <div class="intent mb-10" *ngFor="let agent of searchAgents;index as aIndex"
           [ngClass]="{'intent-selected':aIndex===selectedAgentIndex}"
           (click)="selectedAgentIndex=aIndex;">
        <span class="w-40">{{agent.name}}</span>
        <span class="w-60">{{agent.email}}</span>
      </div>
    </div>
    <button mat-button class="btn-save mt-20" (click)="assignAgent()">Assign</button>
  </div>
</ng-template>
<!-- select intent dialog box ends here -->

<div class="show">
    <div class="overlay"></div>
    <div class="img-show">
       <div class="d-flex align-center img-preview-action">
         <div class="img-preview-action-icon"><mat-icon (click)="downloadImage()">cloud_download</mat-icon></div>
         <div class="img-preview-action-icon img-preview-action-icon-close"><mat-icon>close</mat-icon></div>
       </div>
        <img [src]="selectedImage">
     </div>
</div>

