<div class="main-container">
  <mat-tab-group class="tab font-gray font-300"  (selectedIndexChange)="tabChanges($event)"
                 [selectedIndex]="selectedTab">

    <mat-tab  *ngIf="userRole !=='supportAgent'" label="General">
      <app-general-settings></app-general-settings>
    </mat-tab>

    <mat-tab label="User">
    <app-user-settings></app-user-settings>
    </mat-tab>

    <mat-tab  *ngIf="userRole !=='supportAgent'" label="Integration">
      <app-integration></app-integration>
    </mat-tab>

    <mat-tab  *ngIf="userRole !=='supportAgent'" label="Message Configuration">
      <app-message-configuration></app-message-configuration>
    </mat-tab>

  </mat-tab-group>


</div>
