@import "../../../theme";

.main-container {
  height: 100%;
  width: 100%;
  background-color: white;
  margin-top: 20px;
}

.tab {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}
