<div class="web-widget-main-container" >
  <mat-accordion class="mt-40 ml-10 mr-10 mb-40 w-90">

    <!-- customise look & feel starts here -->
    <mat-expansion-panel>
      <mat-expansion-panel-header class="d-flex align-center customization-accordian">
        <mat-panel-title>
          <div class="d-flex align-center just-center accordian-icon">
            <i class="material-icons">
              edit
            </i>
          </div>
          <span class="ml-20 font-cyan f-20 font-500">Customise Look & Feel</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- customise look & feel details container starts here -->
      <div class="d-flex just-space-bet mb-40 flex-wrap look-n-feel-container">

        <div class="customization-left-container f-18 font-gray">

          <div class="customization-left-container-setting f-18 font-gray">
          <mat-form-field class="w-100" appearance="outline" color="accent">
            <mat-label class="field-label">Bot Title</mat-label>
            <input matInput placeholder="Bot Title" [(ngModel)]="botLookAndFeel.botName" type="text"/>
          </mat-form-field>
          <div class="d-flex">
            <div class="mr-20">Widget Position:</div>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="botLookAndFeel.widget.position">
              <mat-radio-button value="right">Right</mat-radio-button>
              <mat-radio-button class="ml-20" value="left">Left</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="mt-20">
            Image Icon:
          </div>

          <div class="d-flex align-center mt-10">
            <div *ngIf="botLookAndFeel.widget.iconUrl" class="mr-10 accordian-icon">
              <img [src]="botLookAndFeel.widget.iconUrl" style="height: 40px;width: 40px">
            </div>
            <div mat-menu-item class="d-flex align-center just-center  accordian-icon image-icon">
              <i class="material-icons" (click)="profile.click()">
                cloud_upload
              </i>
              <input type="file" #profile style="display: none" (change)="profileUpload($event)"/>
            </div>
          </div>


          <div class="mt-20">
            Widget Color:
          </div>
          <div class="d-flex just-space-bet widget-style-container mt-20">
            <div class="widget-color-left-side">
              <div class="color-picker-container">
                <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.bot.bubbleColour"
                     [style.background-color]="botLookAndFeel.widget.bot.bubbleColour"></div>
                <div class="f-16 font-400 color-label">Bot Message</div>
              </div>

              <div class="color-picker-container">
                <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.chatBackgroundColour"
                     [style.background-color]="botLookAndFeel.widget.chatBackgroundColour"></div>
                <div class="f-16 font-400 color-label">Chat Background</div>
              </div>

              <div class="color-picker-container">
                <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.bot.fontColour"
                     [style.background-color]="botLookAndFeel.widget.bot.fontColour"></div>
                <div class="f-16 font-400 color-label">Bot Font Color</div>
              </div>

              <div class="color-picker-container">
                <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.inputBackground.bubbleColour"
                     [style.background-color]="botLookAndFeel.widget.inputBackground.bubbleColour"></div>
                <div class="f-16 font-400 color-label">Input Background</div>
              </div>
            </div>

            <div class="widget-color-right-side">
              <div class="color-picker-container">
                <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.user.bubbleColour"
                     [style.background-color]="botLookAndFeel.widget.user.bubbleColour"></div>
                <div class="f-16 font-400 color-label">User Message</div>
              </div>

              <div class="color-picker-container">
                <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.chatFontColour"
                     [style.background-color]="botLookAndFeel.widget.chatFontColour"></div>
                <div class="f-16 font-400 color-label">Chat Font Color</div>
              </div>

              <div class="color-picker-container">
                <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.user.fontColour"
                     [style.background-color]="botLookAndFeel.widget.user.fontColour"></div>
                <div class="f-16 font-400 color-label">User Font Color</div>
              </div>

              <div class="color-picker-container">
                <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.inputBackground.fontColour"
                     [style.background-color]="botLookAndFeel.widget.inputBackground.fontColour"></div>
                <div class="f-16 font-400 color-label">Input Font Color</div>
              </div>
            </div>
          </div>
          <div class="mt-20">
            Widget Font Style:
          </div>
          <div class="d-flex just-space-bet widget-style-container mt-10">
            <div class="widget-color-left-side">
              <div class="f-12">
                Bot Font
              </div>
             <div class="font-picker-container just-space-bet">
                <div class="font-icon">
                  <i class="material-icons">
                    text_fields
                  </i>
                </div>

                <mat-select class="font-select" placeholder="Bot Font Style"
                            [(ngModel)]="botLookAndFeel.widget.bot.fontStyle">
                  <mat-option *ngFor="let font of fontSet" [value]="font">{{font}}</mat-option>

                </mat-select>
              </div>

            </div>
            <div class="widget-color-right-side">
              <div class="f-12">
                User Font
              </div>
              <div class="font-picker-container just-space-bet">
                <div class="font-icon">
                  <i class="material-icons">
                    text_fields
                  </i>
                </div>

                <mat-select class="font-select" placeholder="User Font Style"
                            [(ngModel)]="botLookAndFeel.widget.user.fontStyle">
                  <mat-option *ngFor="let font of fontSet" [value]="font">{{font}}</mat-option>


                </mat-select>
              </div>
            </div>
          </div>
          <div class="d-flex align-center flex-wrap w-100">

            <span class="w-fit mr-20 mt-20">Widget Size:</span>

            <mat-slider
              class="widget-size mt-20"
              [max]="5"
              [min]="1"
              [thumbLabel]="1"
              [tickInterval]="1"
              [(ngModel)]="botLookAndFeel.widget.size">
            </mat-slider>
          </div>

          <div class="mt-20">Agent Message Color:</div>

          <div class="mt-10 d-flex just-space-bet flex-wrap agent-message-style-container">
            <div class="widget-color-left-side">
            <div class="color-picker-container">
              <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.agent.fontColour"
                   [style.background-color]="botLookAndFeel.widget.agent.fontColour"></div>
              <div class="f-16 font-400 color-label">Agent Font Color</div>
            </div>
            </div>
            <div class="widget-color-right-side">
            <div class="color-picker-container">
              <div class="color-picker-circle" [(colorPicker)]="botLookAndFeel.widget.agent.bubbleColour"
                   [style.background-color]="botLookAndFeel.widget.agent.bubbleColour"></div>
              <div class="f-16 font-400 color-label">Agent Message</div>
            </div>
            </div>

          </div>
          <div class="mt-20">Agent Font Style:</div>
          <div class="widget-color-left-side">
          <div class="font-picker-container mt-10 just-space-bet">
            <div class="font-icon">
              <i class="material-icons">
                text_fields
              </i>
            </div>

            <mat-select class="font-select" placeholder="Agent Font Style"
                        [(ngModel)]="botLookAndFeel.widget.agent.fontStyle">
              <mat-option *ngFor="let font of fontSet" [value]="font">{{font}}</mat-option>

            </mat-select>
          </div>
          </div>


          </div>
          <div class="d-flex just-end w-100 mt-20 look-n-feel-buttons">
            <div class="cust-white-button" (click)="resetLookAndFeelSettings()">Restore Default</div>
            <div class="cust-button ml-20" (click)="saveLookAndFeelSettings()">Save</div>
          </div>
        </div>

        <div class="customization-right-container">
          <div class="bot-preview"
               [ngStyle]="{'height.px' : getSelectedSize(botLookAndFeel.widget.size).height ,
                'width.px' : getSelectedSize(botLookAndFeel.widget.size).width}">
            <div class="human-pixel-bot-header"
                 [ngStyle]="{'background-color': botLookAndFeel.widget.bot.bubbleColour}">
              <div class="human-pixel-bot-header-left">
                <img [src]="botLookAndFeel.widget.iconUrl"/>
                <div class="ml-10 font-500 f-16 "
                     [ngStyle]="{'color': botLookAndFeel.widget.bot.fontColour}">{{botLookAndFeel.botName}}</div>
              </div>
              <i class="material-icons" [ngStyle]="{'color': botLookAndFeel.widget.bot.fontColour}">
                close
              </i>
            </div>
            <div class="human-pixel-bot-chat"
                 [ngStyle]="{'background-color': botLookAndFeel.widget.chatBackgroundColour}">
              <div class="human-pixel-user-messages" [ngStyle]="{'background-color': botLookAndFeel.widget.user.bubbleColour ,
              'color': botLookAndFeel.widget.user.fontColour , 'font-family':botLookAndFeel.widget.user.fontStyle}">
                <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</span>
                <span class="time-stamp-preview">9:00 pm</span>
              </div>
              <div class="human-pixel-bot-messages" [ngStyle]="{'background-color': botLookAndFeel.widget.bot.bubbleColour ,
              'color': botLookAndFeel.widget.bot.fontColour , 'font-family':botLookAndFeel.widget.bot.fontStyle}">
                <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</span>
                <span class="time-stamp-preview">9:10 pm</span>
              </div>
              <div style="padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;    text-align: center;" [ngStyle]="{ 'color': botLookAndFeel.widget.chatFontColour ,
              'font-family':botLookAndFeel.widget.agent.fontStyle}">
                <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</span>
              </div>
              <div class="human-pixel-bot-messages"
                    [ngStyle]="{'background-color': botLookAndFeel.widget.agent.bubbleColour ,
              'color': botLookAndFeel.widget.agent.fontColour , 'font-family':botLookAndFeel.widget.agent.fontStyle}">
                <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit.</span>
                <span class="time-stamp-preview">9:12 pm</span>
              </div>
              <div class="bot-image"  [ngStyle]="{'color': botLookAndFeel.widget.agent.fontColour ,
               'font-family':botLookAndFeel.widget.agent.fontStyle}">
              <img  [ngStyle]="{'border-color': botLookAndFeel.widget.bot.bubbleColour}"
                   src="../../../assets/images/headway.jpg"/>
                <span class="time-stamp-preview">9:12 pm</span>
              </div>
            </div>
            <div class="human-pixel-send-area" [ngStyle]="{'background-color':
             botLookAndFeel.widget.inputBackground.bubbleColour}">
              <input value="How are you?" placeholder="Enter message" type="text"
                     [ngStyle]="{'color':  botLookAndFeel.widget.inputBackground.fontColour,
              'background-color':
             botLookAndFeel.widget.inputBackground.bubbleColour}"/>
              <i class="material-icons " [ngStyle]="{'color': botLookAndFeel.widget.bot.bubbleColour}">
                send
              </i>
            </div>
          </div>
        </div>
        <div class="d-flex just-end w-100 mt-45 look-n-feel-buttons-ipad">
          <div class="cust-white-button" (click)="resetLookAndFeelSettings()">Restore Default</div>
          <div class="cust-button ml-20" (click)="saveLookAndFeelSettings()">Save</div>
        </div>
      </div>
      <!-- customise look & feel details container ends here -->
    </mat-expansion-panel>
    <!-- customise look & feel ends here -->

    <!-- delay starts here -->
    <mat-expansion-panel class="mt-20">
      <mat-expansion-panel-header class="d-flex align-center customization-accordian">
        <mat-panel-title>
          <div class="d-flex align-center just-center accordian-icon">
            <i class="material-icons">
              timer
            </i>
          </div>
          <span class="ml-20 font-cyan f-20 font-500">Delay</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table class="font-gray f-18 font-400 ml-60">
        <tr>
          <td>
            Delay between two messages (in seconds)
          </td>
          <td>
            <div class="delay-time d-flex ml-20 mb-10">
              <i matPrefix class="material-icons mr-10 font-cyan">
                access_time
              </i>
              <input matInput [(ngModel)]="delayConfig.messageDelayTime" (input)="checkLimit($event)" type="number" min="0" max="10"
                     placeholder="00">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            Delay for bot face to appear (in seconds)
          </td>
          <td>
            <div class="delay-time d-flex mb-10 ml-20">
              <i matPrefix class="material-icons mr-10 font-cyan">
                access_time
              </i>
              <input matInput [(ngModel)]="delayConfig.faceAppearDelayTime" (input)="checkLimit($event)" type="number" min="0" max="10"
                     placeholder="00">
            </div>
          </td>
        </tr>
        <tr *ngIf="delayConfig.isAutoUnfold">
          <td>
            Delay for bot auto unfold (in seconds)
          </td>
          <td>
            <div class="delay-time d-flex ml-20">
              <i matPrefix class="material-icons mr-10 font-cyan">
                access_time
              </i>
              <input matInput type="number" [(ngModel)]="delayConfig.unFoldTime" (input)="checkLimit($event)" min="0" max="10" placeholder="00">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <mat-checkbox class="font-gray f-18 general-checkbox"
                          [(ngModel)]="delayConfig.isAutoUnfold">Auto unfold</mat-checkbox>
          </td>
        </tr>
      </table>

      <div class="cust-button mt-40 mb-20 ml-60" (click)="saveDelaySettings()">Save</div>
    </mat-expansion-panel>
    <!-- delay ends here -->


    <!-- welcome message starts here -->
    <mat-expansion-panel class="mt-20">
      <mat-expansion-panel-header class="d-flex align-center customization-accordian">
        <mat-panel-title>
          <div class="d-flex align-center just-center accordian-icon">
            <i class="material-icons">
              speaker_notes
            </i>
          </div>
          <span class="ml-20 font-cyan f-20 font-500">Welcome Message</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="d-flex">
        <div class="welcome-message-left-container w-50 ml-60">
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Title</mat-label>
              <input [(ngModel)]="welcomeMessageConfig.title"  maxlength="60" type="text" matInput />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Greeting Text</mat-label>
              <input matInput  maxlength="200" [(ngModel)]="welcomeMessageConfig.greetingText"
                     type="text"
                     >
            </mat-form-field>
          </div>

          <div class="cust-button mt-20 mb-20" (click)="saveWelcomeMessageSettings()">Save</div>
        </div>

        <div class="welcome-message-right-container ml-30">
          <div class="f-18 font-500 mb-20">
       <span class="font-cyan f-18 font-400">
          Required input fields to start a chat
       </span>

            <div class="font-gray">
              <div class="mt-10">
                <mat-checkbox checked="true" disabled>Name</mat-checkbox>
              </div>

              <div class="mt-10">
                <mat-checkbox [(ngModel)]="welcomeMessageConfig.requiredFields.email">Email</mat-checkbox>
              </div>

              <div class="mt-10">
                <mat-checkbox [(ngModel)]="welcomeMessageConfig.requiredFields.contactNumber">Contact Number</mat-checkbox>
              </div>
            </div>

          </div>
        </div>

      </div>

    </mat-expansion-panel>
    <!-- welcome message ends here -->
  </mat-accordion>
</div>
