@import "../../../theme.scss";

.web-widget-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc( 100vh - 80px);
  position: relative;
}

.customization-accordian {
  padding: 40px;
  border-radius: 8px;
}

.accordian-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $primary-color;
  color: white;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

.look-n-feel-container {
  padding: 0 40px;
}

.customization-left-container {
  width: calc( 50% - 30px);
  min-width: 345px;

}
.customization-left-container-setting{
  height: calc( 100vh - 280px);
  overflow: auto;
  padding-right: 20px;
}

.customization-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  padding: 35px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.widget-style-container {
  max-width: 560px;
  width: 100%
}

.widget-color-left-side, .widget-color-right-side {
  max-width: 270px;
  width: 48%;
}

.color-picker-container, .font-picker-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  box-sizing: border-box;

  i {
    font-size: 16px !important;
    color: $primary-color;
  }

  select {
    font-size: 16px;
    font-weight: 500;
  }
  select::placeholder {
    font-size: 16px;
  }
}

.font-select {
  width: calc(100% - 30px);
  font-size: 16px;
}

.font-select::placeholder {
  font-size: 16px;
}

.color-picker-container:hover, .font-picker-container:hover {
  border: 2px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.color-picker-circle {
  height: 25px;
  width: 25px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.24);
}

.color-label {
  width: calc(100% - 30px);
  max-width: calc(100% - 30px);
}

.font-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}

.widget-size {
  width: 450px;
}

.agent-message-style-container {
  max-width: 560px;
}

.agent-container {
  width: 270px
}

.bot-preview {
  width: 350px;
  background-color: #F7F7F7;
  border-radius: 10px 10px 0 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.16);
  -moz-box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.16);
  box-shadow: 0px 0px 10px rgba(119, 119, 119, 0.16);
  overflow: hidden;
}

.human-pixel-bot-header {
  padding: 10px 20px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.human-pixel-bot-header-left {
  display: flex;
  align-items: center;
  color: white;

  img {
    min-height: 45px;
    min-width: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: contain;
    background-color: white;
  }
}

.human-pixel-bot-chat {
  display: flex;
  flex-direction: column;
  height: calc(100% - 120px);
  font-size: 14px;
  padding: 10px 0;
  overflow: auto;
  background-color: #F7F7F7;
}

.human-pixel-send-area {
  display: flex;
  padding: 15px;
  background-color: white;

  input {
    width: 100%;
    border: none;
    outline: none;
  }
}

.human-pixel-user-messages {
  background-color: white;
  padding: 10px;
  margin: 10px 25px 10px 0px;
  display: flex;
  align-items: flex-end;
  max-width: 65%;
  border-radius: 15px 0 15px 15px;
  color: #444444;
  align-self: flex-end;
  animation: expand-bounce 0.4s;
  transform-origin: 100% 0%;
  word-break: break-word;
  position: relative;
}
.time-stamp-preview{
  position: absolute;
  bottom: 0;
  font-size: 12px;
  height: fit-content;
  display: block;
  right: 10px;
  font-weight: 300;
}

.human-pixel-bot-messages {
  position: relative;
  background-color: $primary-color;
  padding: 10px;
  margin: 10px 0 10px 25px;
  float: left;
  max-width: 65%;
  border-radius: 0 15px 15px 15px;
  color: white;
  transform-origin: 0% 100%;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation: expand-bounce 0.4s;
  word-break: break-word;
}

.bot-image {
  position: relative;
  width: 65%;
  margin-left: 25px;
  border: 2px solid $primary-color;
  border-radius: 17px;
}
.bot-image img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.delay-time {
  min-width: 100px;
  width: 100px;
  max-width: 200px;
  padding: 10px 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}


.look-n-feel-buttons-ipad {
  display: none!important;
}

@media (max-width: 768px) {
  .look-n-feel-container {
    padding: 0;
  }

  .customization-accordian {
    padding:  20px;
  }

  .customization-left-container, .customization-right-container {
    width: 100%;
    border: none;
  }

  .customization-right-container {
    padding: 35px 0 0 0;
  }

  .look-n-feel-buttons {
    display: none!important;
  }

  .look-n-feel-buttons-ipad {
    display: flex!important;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .look-n-feel-container {
    padding: 0;
  }
}
