// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "theme";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
  $font-family: "Segoe UI, sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-core($custom-typography);
$my-custom-primary: (
  50 : #e3f8f8,
  100 : #baeded,
  200 : #8ce1e2,
  300 : #5dd4d6,
  400 : #3bcbcd,
  500 : #18c2c4,
  600 : #15bcbe,
  700 : #11b4b6,
  800 : #0eacaf,
  900 : #089fa2,
  A100 : #cefeff,
  A200 : #9bfdff,
  A400 : #68fcff,
  A700 : #4efbff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 :$dark-primary-text,
    700 : $dark-primary-text,
    800 : $dark-primary-text,
    900 : $dark-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 :$dark-primary-text,
  )
);

$my-custom-primary: (
  50 : #e3f8f8,
  100 : #baeded,
  200 : #8ce1e2,
  300 : #5dd4d6,
  400 : #3bcbcd,
  500 : #18c2c4,
  600 : #15bcbe,
  700 : #11b4b6,
  800 : #0eacaf,
  900 : #089fa2,
  A100 : #cefeff,
  A200 : #9bfdff,
  A400 : #68fcff,
  A700 : #4efbff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 :$dark-primary-text,
    700 : $dark-primary-text,
    800 : $dark-primary-text,
    900 : $dark-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 :$dark-primary-text,
  )
);

$cex-app-primary: mat-palette($my-custom-primary);
$cex-app-accent: mat-palette($my-custom-primary);
$cex-app-theme: mat-light-theme($cex-app-primary, $cex-app-accent);
@include angular-material-theme($cex-app-theme);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$hp-backoffice-primary: mat-palette($my-custom-primary, 600, 300, 800);
//$hp-backoffice-accent: mat-palette($my-custom-accent, 900, 500, 900);

// The warn palette is optional (defaults to red).
//$hp-backoffice-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
//$hp-backoffice-theme: mat-light-theme(
//    $hp-backoffice-primary,
//    $hp-backoffice-accent,
//    $hp-backoffice-warn
//);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.







// Include the default theme styles.
@include angular-material-theme($cex-app-theme);
// Define an alternate dark theme.
$cex-dark-primary: mat-palette($mat-blue-grey);
$cex-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$cex-dark-warn: mat-palette($mat-deep-orange);
$cex-dark-theme: mat-dark-theme(
    $cex-dark-primary,
    $cex-dark-accent,
    $cex-dark-warn
);

// `.cex-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.cex-dark-theme {
  @include angular-material-theme($cex-dark-theme);
}

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: "Segoe UI", sans-serif;
  margin: 0 !important;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

input, input::placeholder, select, select::placeholder ,textarea,textarea::placeholder{
  font-family: "Segoe UI", sans-serif !important;
}

a:visited {
  color: $font-color;
}

a {
  text-decoration: none;
}

/*Common Classes*/
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d5d5d5;
}

.standard-font-color {
  color: #444444 !important;
}

.w-fit {
  width: fit-content !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 95% !important;
}

.w-95 {
  width: 95% !important;
}

.w-100 {
  width: 100% !important;
}

.h-60 {
  height: 60% !important;
}

.h-100 {
  height: 100% !important;
}

/*Flex common class*/
.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.just-start {
  justify-content: flex-start !important;
}

.just-end {
  justify-content: flex-end !important;
}

.just-end {
  justify-content: flex-end;
}

.just-center {
  justify-content: center !important;
}

.just-space-bet {
  justify-content: space-between !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: flex-end !important;
}

.flex-column {
  flex-direction: column !important;
}

/*Common class for spacing*/
.p-0 {
  padding: 0px !important;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-40 {
  padding: 40px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.m-0 {
  margin: 0px !important;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-40 {
  margin: 40px;
}

.m-20 {
  margin: 20px;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-22 {
  font-size: 22px !important;
}

.c-p {
  cursor: pointer !important;
  outline: none;
}

.font-white {
  color: white !important;
}

.font-cyan {
  color: $primary-color !important;
}

.font-gray {
  color: $gray-font-color !important;
}

.font-blue {
  color: $font-color !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.font-normal {
  font-weight: normal !important;
}

.font-300 {
  font-weight: 300 !important;
}

.text-underline {
  text-decoration: underline !important;
}

.bg-cyan {
  background-color: $primary-color!important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}

/*Loader css*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $primary-color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary-color transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

label {
  margin-bottom: 0px;
  font-weight: normal;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 20px;
  margin: 5px;
}

.lds-ellipsis div {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $primary-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.mat-select-value {
  color: $text-color;
}

.mat-drawer-side {
  border-right: none !important;
  box-shadow: 10px 0 6px -6px #e7f9f9 !important;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 400;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.12);
}
.redOutline.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $danger-color !important;
}


.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: $primary-color !important;
}

.email-container.mat-form-field-appearance-outline._mat-animation-noopable .mat-form-field-outline,
.password-container.mat-form-field-appearance-outline._mat-animation-noopable .mat-form-field-outline {
  background-color: white !important;
}

//.general-container .left-part .mat-form-field-appearance-outline .mat-form-field-infix {
//  padding: 1em 0 0.5em 0;
//}
//
//.general-container .left-part .mat-form-field-appearance-outline .mat-form-field-infix:focus-within {
//  padding: 0.5em 0 1em 0;
//}

.email-container.mat-form-field-prefix, .mat-form-field-suffix,
.password-container.mat-form-field-prefix, .mat-form-field-suffix {
  font-size: x-large;
}

.remember-me-checkbox._mat-animation-noopable .mat-checkbox-frame {
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.remember-me-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  border-radius: 5px;
  height: 20px;
  width: 20px;
}

.remember-me-checkbox .mat-checkbox-inner-container {
  margin-right: 15px !important;
}

.live-chat-list-main-div .mat-radio-outer-circle {
  border-color: $primary-color !important;
}

@media (max-width: 576px) {
  .email-container.mat-form-field-appearance-outline .mat-form-field-infix,
  .password-container.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0;
  }

  .email-container.mat-form-field-appearance-outline .mat-form-field-outline,
  .password-container.mat-form-field-appearance-outline .mat-form-field-outline {
    height: 50px !important;
  }
  .email-container.mat-form-field-appearance-outline .mat-form-field-label,
  .password-container.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.34375em;
    margin-top: 1px
  }
}

.snack-error {
  background: crimson;
  color: white;
  font-weight: 600;
}

.snack-success {
  color: white;
  background-color: #18C2C4;
  font-weight: 600;
}

.active-link {
  background-color: #18C2C4;
  color: white;
}

.send-message {
  background-image: linear-gradient(to right, #18C2C4, #F7F7F7);
  box-shadow: 0 0 20px #8A8A8A29;
  height: 70px;
  display: flex !important;
  align-items: center;
  color: white;
  position: absolute;
  right: 0;
  bottom: -6px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -7px;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -5px;
  color: white;
}

.ic_close{
  color: $primary-color !important;
}
.primary-color{
  background-color: $primary-color !important;
}
.btn-save {
  float: right;
  height: 40px;
  width: 100px;
  border-radius: 10px !important;
  font-size: 18px;
  color: white !important;
  font-weight: 400;
  background-color: $primary-color !important;
}

//custom switch
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(20px,0,0) !important;
}
.mat-slide-toggle-thumb-container {
  width: 20px !important;
  height: 20px !important;
  right: 22px !important;
  top: 1px !important;
  left: 2px !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white !important;
}
.mat-slide-toggle-bar {
  width: 44px !important;
  height: 22px !important;
  flex-shrink: 0;
  border-radius: 10px !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $primary-color;
}

/* hand off starts here */
.support-button-toggle.mat-button-toggle-group-appearance-standard {
  border: 0.1rem solid #e7e7e8!important;
  border-radius: 10px;
  font-weight: 500;
}

.mat-button-toggle-checked {
  color: $primary-color !important;
}

.support-button-toggle .mat-button-toggle-checked {
  background-color: $primary-color !important;
}



.live-chat-radio-button .mat-radio-label-content {
  color: #444444;
  font-weight: 500;
}

/* hand off ends here */

/* bot-settings starts here */
.tab .mat-tab-label, .mat-tab-link {
  font-size: 24px;
  color: $gray-font-color;
}

.tab .mat-tab-label:focus, .tab .mat-tab-label-active {
  color: $primary-color !important;
}

.tab .mat-tab-label {
  padding: 0 24px -2px 24px !important;
}

.general-checkbox .mat-checkbox-inner-container {
  height: 20px;
  width: 20px;
}

/* bot-settings ends here */

/* custom table starts here */
.custom_table {
  width: 100%;
  margin-top: 40px;
}

.custom_table--row {
  height: 50px;
  color: $text-color;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
}

.custom_table--header {
  color: #8f8f8f;
  font-weight: 600;
  font-size: 18px;
}

.custom_table--header, .custom_table--row {
  display: flex;
  align-items: center;
}

/* custom table ends here */

/*pagination classes starts here*/
.pagination {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 9px;
}

.prev-btn, .next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 2px solid #e7e7e8;
  border-radius: 50%;
  margin-right: 10px;
  color: $primary-color;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.prev-btn:hover, .next-btn:hover {
  box-shadow: 0 0 10px $primary-color;
}

.next-btn {
  margin: 0 0 0 10px
}

.disable-prev-btn {
  cursor: not-allowed;
  color: #cccfd9;
}

.disable-prev-btn:hover {
  color: #cccfd9;
  box-shadow: none !important;
}

.disable-next-btn {
  cursor: not-allowed;
  color: #cccfd9;
}

.disable-next-btn:hover {
  color: #cccfd9;
  box-shadow: none !important;
}

.cust-page-bt {
  font-size: 2rem;
  text-align: center;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: rgba($primary-color, 0.5);
}

.pagination .cust-page-bt:last-child {
  margin-left: 10px;
}

.pagination .cust-page-bt:hover {
  background-color: #ffffff;
  color: $primary-color;
}

.pagination .index-active {
  background-color: $primary-color;
  color: white;
}

.cust-page-indx {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: $primary-color;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.pagination .cust-page-indx:hover {
  box-shadow: 0 0 10px $primary-color;
}

/*pagination classes ends here*/
.border-error{
  border: 1px solid $danger-color !important;
}
.detail-label {
  color: $gray-font-color;
  font-weight: 500;
}

/* customised cyan button starts here */
.cust-button,.cust-button-white {
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
}
.cust-button {
  background: $primary-color;
  color: white;
}
.cust-button-white {
  background: white;
  color: $text-color;
  border: 1px $gray-font-color solid;
}
.border-radius-common{
  border-radius: 10px !important;
}

.cust-button:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}
.cust-button-white:hover{
  box-shadow: 0px 0px 5px 0px $gray-font-color;
}

/* customised cyan button ends here */

/* customised white button starts here */
.cust-white-button {
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 9px 20px;
  font-size: 18px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: $primary-color;
  border-radius: 9px;
  cursor: pointer;
}

.cust-white-button:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

/* customised white button ends here */

/* general settings starts here */

.right-part .mat-form-field-infix, .right-part .mat-form-field-wrapper {
  padding: 0 !important;
  padding-bottom: 0 !important;
  border: none !important;
}

.right-part .mat-form-field-flex {
  padding: 6px 15px !important;
}

.right-part .mat-form-field-appearance-outline .mat-form-field-wrapper {
  width: 135px;
}

.right-part .material-icons {
  font-size: 22px !important;
}

.timepicker {
  width: 350px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.timepicker__header, .clock-face__number > span.active, .clock-face__clock-hand {
  background-color: $primary-color !important;
}

.timepicker-dial__container {
  justify-content: center !important;
}

.timepicker-button {
  color: $primary-color !important;
}

.timepicker-dial__control {
  outline-color: white !important;
}

.add-user .mat-dialog-container, .select-intent .mat-dialog-container {
  padding: 0 !important;
  border-radius: 20px !important;
  overflow: hidden !important;
}

/* general settings ends here */

/* integration starts here */
.integration-container .mat-form-field-infix {
  border: none !important;

  .integration-container .mat-form-field-appearance-outline .mat-form-field-flex {
    color: #e2e2e2 !important;
  }

  input {
    height: 22px !important;
    font-size: 16px;
    font-weight: 400;
  }
}

/* integration ends here */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI" , sans-serif;
}

/* web-widget starts here */
.web-widget-main-container .mat-accordion .mat-expansion-panel:not(.mat-expanded),
.web-widget-main-container .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing),
.web-widget-main-container .mat-accordion .mat-expansion-panel {
  border: 1px solid $primary-color;
  border-radius: 9px !important;
  box-shadow: 0px 0px 3px 0px #69D7D8;
}

.web-widget-main-container .mat-expansion-indicator::after {
  height: 10px;
  width: 10px;
  margin-top: -10px;
  border-width: 0 4px 4px 0;
  font-weight: 500;
  color: $primary-color;
}

.web-widget-main-container .mat-content, .web-widget-main-container .mat-expansion-panel-header-title {
  align-items: center;
}

.image-icon.mat-menu-item:hover:not([disabled]) {
  background-color: $primary-color !important;
  box-shadow: 0px 0px 5px 0px #69D7D8;
  cursor: pointer;
}

.widget-size.mat-accent .mat-slider-thumb-label-text {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.welcome-message-right-container .mat-checkbox-inner-container {
  height: 20px;
  width: 20px;
}



/* web-widget ends here */

/* analytics starts here */
.analytics-main-container .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  height: 26px;
  width: 26px;
}

.analytics-main-container .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  height: 1.5em;
  width: 1.5em;
}


.analytics-main-container .mat-form-field-wrapper {
  padding-bottom: 0px !important
}

.icon-circle .material-icons {
  font-size: 18px;
  outline: none;
}


.agent-request-select .mat-select {
  display: unset;
}

.agent-request-select .mat-select-placeholder {
  font-size: 13px;
  font-weight: 500;
}

.agent-request-select .mat-select-arrow {
  color: $primary-color;
}

.agent-request-option.mat-option {
  height: 2.5em !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

.agent-request-select .mat-select-value-text {
  color: #4d4f5c;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.agent-request-option.mat-option:hover {
  color: white !important;
  background-color: $primary-color !important;
}
.btn-time-grp {
  mat-button-toggle-group .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    line-height: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
  }
  mat-button-toggle-group{
    height: 41px !important;
  }
  .mat-button-toggle-checked {
    background-color: $primary-color !important;
    color: white !important;
  }
  .mat-button-toggle-group-appearance-standard{
    border: 2px solid #e2e2e3 !important;
  }
  .mat-button-toggle-checked .mat-button-toggle-focus-overlay{
    border-bottom: unset !important;
  }
  .mat-button-toggle-group-appearance-standard,{
    border-radius: 10px !important;
  }
  .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle{
    border-left:unset !important;
  }
}

.mat-calendar-body-selected{
  color: white !important;
}

.highlight_text{
  color: $primary-color !important;
}
.not_allowed{
 cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}
.not_allowed_opacity{
  opacity: .5;
}
.cursor_not_allow{
  cursor: not-allowed !important;
}
.cdk-overlay-pane{
  transform: translateX(-16px) translateY(-14px) !important;
}
//time picker
.timepicker-dial__item {
  color: rgba(255,255,255,.5) !important;
}
.timepicker-dial__item_active{
  color: white !important;
}

.timepicker-dial__control{
  outline: none;
}
.timepicker-period__warning {
  z-index: 1;
  text-align: left;
  width: 250px !important;
  left: -150px !important;
}
input{
  color: $text-color;
}
.mat-form-field-wrapper{
  padding-bottom:20px !important;
}
.simple-input .mat-form-field-wrapper{
  padding-bottom:5px !important;
}
.no-table-data{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: calc( 50% - 50px);
  left: calc(50% - 50px);
}
.no-table-data mat-icon{
  font-size: 50px;
  width: 50px;
  height: 50px;
  color: $gray-font-color;
}
.no-table-data p{
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 10px 0;
  color: $gray-font-color;
}

/* analytics ends here */

@media (max-width: 768px) {
  .tab .mat-tab-label {
    min-width: 135px;
    font-size: 18px;
    padding: 0 5px;
  }
}
.mat-dialog-container {
  border-radius: 20px !important;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2) !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.primary-font-color {
  color: $primary-color !important;
}
.mat-expansion-panel-content {
  font-weight: 400 !important;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-bar-chat{
  background-color: white !important;
  border:1px solid #e7e7e8 !important;
}

.search-bar {
  height: 40px;
  width: 45%;
  padding: 5px 20px;
  background-color: #f7f7f7;
  border-radius: 5px;

  input {
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
  }
}

.search-bar input::placeholder {
  color: #cbcbcc;
  font-size: 16px;
  font-weight: 400;
}

.search-bar-icon {
  font-size: 22px !important;
  color: $primary-color;
  cursor: pointer;
}

//popper
.option_menu_popper {
  z-index: 5;
  background-color: white;
  max-width: fit-content;
  width: 100%;

  border: 0 solid lightGray !important;
  padding: 0 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
}
.ngxp__container[x-placement^="left"] .option_menu_arrow {
  border-left-color: white;
  border-width: 10px 0 10px 10px !important;
  right: -10px !important;
}

.ngxp__container[x-placement^="bottom"] .option_menu_arrow {
  border-bottom-color: white;
  border-width: 5px 0 5px 5px;
}

.ngxp__container[x-placement^="right"] .option_menu_arrow {
  border-right-color: white;
  border-width: 15px 15px 15px 0 !important;
  left: -15px !important;
}

.ngxp__container[x-placement^="top"] .option_menu_arrow {
  border-top-color: white;
  border-width: 5px 0 5px 5px;
}

//date rang picker
.md-drppicker td.active, .md-drppicker td.active:hover{
  background-color: $primary-color !important;
  color: white !important;
}
.md-drppicker .btn{
  line-height: unset !important;
  border-radius: 10px !important;
  padding: 10px 15px !important;
  height: 35px !important;
  margin-bottom: 5px;
  box-shadow: unset !important;
  border: 1px $primary-color solid !important;
  background-color: $primary-color !important;
  margin-right: 5px;
  color: white !important;
}
.md-drppicker .clear svg{
  display: none !important;
}
.md-drppicker .clear{
  height: 35px !important;
  margin-right: 5px;
  margin-bottom: 5px;
  background: white !important;
  color: #444444 !important;
  border: 1px #939f9d solid !important;
  position: relative !important;
  overflow: hidden !important;
  outline: 0 !important;
  padding: 10px 15px !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  box-shadow: unset !important;
  transition: background-color .4s !important;
  text-transform: uppercase !important;
  line-height: unset !important;
}





