$primary-color: #18C2C4;
$secondary-color: #0f1a36;
$slate-gray: #879aba;
$light-gray: #E4E5E9;
$dark-blue-light: #0F1A36;
$text-color:#444444;
$gray-font-color: #939f9d;
$dark-blue: #081a2b;
$font-color: #1d1e3a;
$gray-back: #F6F7FB;
$danger-color: #ff6368;
$info-color: #138af9;
$warning-color: #ffa500;
$dark-medium-gray: #F6F7FB;
$primary_purple: #330773;
$primary_pink: #e4008b;
$primary_text_color: #2b313f;
$primary_purple_medium: #6b1bbc;
$header-color: #E7F9F9;
$graph-dark-color: #048081;
$graph-light-color: #17BFC1;
$gray-medium: #ebebec;
