<div class="user-container">
<div class="search-bar-container">
  <div class="d-flex just-space-bet align-center search-bar">
    <input class="w-95" placeholder="Search"  [(ngModel)]="search"  (keydown)="getSearchList($event)"/>
    <i class="material-icons search-bar-icon"
       (click)="getUsers(1, 10)">
      search
    </i>
  </div>
  <div *ngIf="userRole !=='supportAgent'" class="cust-button"  (click)="openDialog('addUser',addUser)">
    <i class="material-icons mr-10">
      add_circle
    </i>
    Add User
  </div>
</div>
<div class="custom_table">
  <div class="custom_table--header" *ngIf="users.length>0">
    <div class="admin-name ml-20" title="Admin Name">Name</div>
    <div class="admin-email" title="Admin Email">Admin Email</div>
    <div class="organization-name" title="Status">Status</div>
    <div class="organization-name" title="Role">Role</div>
    <div class="date-created" title="Date Created">Date Created</div>
    <div *ngIf="userRole !=='supportAgent'" class="action pr-5" title="Action">Action</div>
  </div>

  <div class="custom_table--row" *ngFor="let user of users;index as uIndex">
    <div class="admin-name ml-20" title="{{ user.name }}">{{user.name}}</div>
    <div class="admin-email" title="{{user.email}}">{{user.email}}</div>
    <div class="organization-name" title="{{user.status === 'pending'?'Pending':'Active'}}">
      {{user.status === 'pending'?'Pending':'Active'}}</div>
    <div class="organization-name" title="{{userRoleTitle[user.role]}}">{{userRoleTitle[user.role]}}</div>
    <div class="date-created " title="{{user.createdAt}}">{{user.createdAt | date: "longDate"}}</div>

    <!-- action three dots starts here -->
    <ng-container *ngIf="user._id !== mainUserId">
    <div  class="action-three-dots pr-5">
      <button *ngIf="userRole !=='supportAgent'"
              mat-icon-button [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <button mat-menu-item class="d-flex align-center"
                (click)="openDialog('addUser',addUser,uIndex)">
          <i class="material-icons primary-font-color">
            edit
          </i>
          <span class="ml-5">Edit</span>
        </button>

        <button mat-menu-item class="d-flex align-center"
                (click)="openDialog('deleteUser',deleteConfirmation,uIndex)">
          <i class="material-icons primary-font-color">
            delete
          </i>
          <span class="ml-5">Delete</span>
        </button>

      </mat-menu>
    </div>
    <!-- action three dots screen ends here -->

    <!-- action large screen starts here -->
    <div  class="action action-large-screen" >
      <div *ngIf="userRole !=='supportAgent'" class="action-circle"
           title="Edit User" (click)="openDialog('addUser',addUser,uIndex)">
        <i class="material-icons">
          edit
        </i>
      </div>
      <div *ngIf="userRole !=='supportAgent'" class="action-circle"
           title="Delete User" (click)="openDialog('deleteUser',deleteConfirmation,uIndex)" >
        <i class="material-icons">
          delete
        </i>
      </div>
    </div>
    <!-- action large screen ends here -->
    </ng-container>
    <ng-container *ngIf="user._id === mainUserId">
      <div  class="action-large-screen action">

      </div>
      <!-- action three dots screen ends here -->

      <!-- action large screen ends here -->
    </ng-container>
  </div>
  <div class="no-table-data" *ngIf="users.length===0">
    <mat-icon>policy</mat-icon>
    <p>No user found</p>
  </div>
</div>

<div *ngIf="totalPages.length>1" class="pagination">
  <i
    class="material-icons prev-btn"
    [ngClass]="{ 'disable-prev-btn': disablePrev }"
    (click)="prevPage()">
    navigate_before
  </i>

  <div
    *ngFor="let val of totalPages"
    class="cust-page-indx"
    [ngClass]="{ 'index-active': val.status }"
    (click)="changePage(val.no)"
  >
    {{ val.no }}
  </div>

  <i class="material-icons next-btn"
     [ngClass]="{ 'disable-next-btn': disableNext }"
     (click)="nextPage()">
    navigate_next
  </i>
</div>
<!-- user-settings ends here -->
</div>

<!-- add user dialog box starts here -->
<ng-template #addUser>
  <form class="add-user-dialog" [formGroup]="addUserForm">
    <div>
      <div class="f-16 font-gray font-500">User Details</div>

      <mat-form-field appearance="outline" class="w-100 mt-20">
        <mat-label class="email-label">Name</mat-label>
        <input formControlName="name" matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100" [ngClass]="{not_allowed:editId.length!==0}">
        <mat-label class="email-label">Email</mat-label>
        <input  formControlName="email" matInput   type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label class="email-label">Contact Number</mat-label>
        <input (keypress)="onlyNumberInput($event)" formControlName="contactNumber" matInput
               placeholder="Contact Number">
      </mat-form-field>

      <div class="d-flex align-center just-space-bet">
        <div class="w-100 d-flex align-center">
        <div class="f-16 font-gray font-500">Role:</div>
        <mat-select class="p-5 ml-20 role-select-container"
                    [ngClass]="{'border-error':addUserForm.controls.role.invalid}"
                    formControlName="role" placeholder="Select Role">
          <mat-option class="role-select-option" value="admin">Admin</mat-option>
          <mat-option class="role-select-option" value="supportAgent">Support Agent</mat-option>
        </mat-select>
        </div>
        <mat-checkbox *ngIf="editId.length>0"
                      formControlName="notifyUser"
                      class="font-gray font-500 f-16 general-checkbox">Notify user for changes</mat-checkbox>
      </div>
    </div>
    <button mat-button class="btn-save mt-20" [disabled]="addUserForm.invalid || !isFormSubmit"
            (click)="createUser()">{{editId.length===0?'Save':'Update'}}</button>
  </form>
</ng-template>
<!-- add user dialog box ends here -->

<!-- delete user dialog box starts here -->
<ng-template #deleteConfirmation>
  <div class="detail-configuration">
    <p> Are you sure you want to delete account of {{ users[deleteIndex].name }}?</p>
     <div class="mt-40 d-flex just-end">
      <div  class="cust-button-white float-right mr-10"  [mat-dialog-close]="false"
            >Cancel</div>
      <div  class="cust-button float-right"   [mat-dialog-close]="true">Confirm</div>
    </div>
  </div>
</ng-template>
<!-- delete user dialog box endss here -->
