@import "../../../../theme";
.user-container{
      width: 100%;
    position: relative;
                overflow: auto;
      height: 100%;
                 max-height: calc(100vh - 170px);
  min-height: calc(100vh - 170px);
      padding: 20px;
}
input {
  height: 22px!important;
}



.organization-table {
  width: 100%;
  margin-top: 40px;
}
.admin-name, .admin-email{
  width: 30%;
  max-width: 30%;
}
.admin-name, .admin-email, .date-created {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date-created {
  max-width: 15%;
  width: 15%;
}
.action-large-screen {
  min-width: 10%;
  width: 10%;
  max-width: 10%;
}

.organization-name {
  width: 24%;
  max-width: 15%;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.action{
  width: 10%;
  min-width: 10%;
}

.action-large-screen {
  display: flex;
  justify-content: flex-start;
}

.action-three-dots {
  display: none;
}

.action-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e7e7e8;
  color: $primary-color;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.action-circle:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.role-select-container {
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid lightgrey;
  outline: none;
}

.role-select-container::placeholder {
  color: $gray-font-color;
  font-weight: 500!important;
}

.role-select-option:hover, .role-select-option:focus {
  background-color: $primary-color !important;
  color: white !important;
}



@media (max-width: 1024px) {
  .action-large-screen {
    display: none;
  }


  .action-three-dots {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
}

@media (max-width: 1366px) {
  .action-circle {
    margin-right: 6px;
  }
}
