@import "../../../../theme";

.message-configuration-container {
  padding: 20px 20px 20px 0;
  width: 100%;
  overflow: auto;
  height: 100%;
  max-height: calc(100vh - 170px);

  input::placeholder, select::placeholder {
    color: $gray-font-color!important;
  }
}

.text-container {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.text-container-highlight{
  border: 1px solid $danger-color !important;
}

.text-container textarea{
  border: none;
  width: 100%;
  outline: none;
  resize:none;
  font-size: 16x;
  font-weight: 400;
  color: $text-color;
  margin: 0;
  padding: 0;
}
.main-msg-container{
  width: 50%;
  padding-left: 20px;
}

.left-part, .right-part {
  width: 48%;
}

@media (max-width: 768px) {
  .message-configuration-container {
    max-width: 100%;
  }
  .main-msg-container{
    min-width: 100%;
    padding-left:30px
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .message-configuration-container {
    width: 100%;
  }
  .main-msg-container{
    min-width: 100%;
    padding-left:30px
  }
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .message-configuration-container {
    width: 100%;
  }
}

/* media query for screen wider than 1440px with starts here */

@media (min-width: 1441px) {
  .message-configuration-container {
    width: 75%;
  }

  .general-container .left-part, .general-container .right-part {
    height: 600px;
  }
}

/* media query for screen wider than 1440px with ends here */
