
  <div class="message-configuration-container font-normal">
    <div class="d-flex align-center flex-wrap">
      <div class="main-msg-container" *ngFor="let title of messagesTitles">
        <div class="f-20 font-400 font-cyan">{{title.title}}</div>
        <div class="mt-10 mb-20 text-container f-16" [ngClass]="{'text-container-highlight':!title.isValid}">
          <textarea  [id]="title.value"   (keyup)="createSuggestions(title.value)" cols="2"
                       class="f-16 answers" placeholder="Enter message"
                       [(ngModel)]="messages[title.value]"></textarea>
        </div>
      </div>
    </div>
    <div class="mt-40  cust-button float-right pl-40 pr-40" (click)="updateMessageConfiguration()">Save</div>
  </div>


