<div class="main-container">
  <mat-toolbar class="dialog_header">
    <span class="dialog_title">{{ data.title }}</span>
    <mat-icon class="ic_close" (click)="closeModal(false)"
      >highlight_off</mat-icon
    >
  </mat-toolbar>
  <div class="content-main">
    <div class="dialog_content">
      <ng-template [ngTemplateOutlet]="data.template"></ng-template>
    </div>
    <!--<div *ngIf="data.isShowSave" class="dialog_footer">
      &lt;!&ndash;<button mat-button class="btn-save" (click)="closeModal(true)">Save</button>&ndash;&gt;
    </div>-->
  </div>
</div>
