@import "../../../styles";
.main-container {
  overflow: hidden;
  height: 100%;
}
.content-main {
  overflow: auto;
  height: calc(100% - 80px);
}
.dialog_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 80px;
  border-bottom: 2px solid $gray-medium;
  padding: 0 50px;
}
.dialog_title {
  color: $primary-color;
  font-size: 1.6rem;
  font-weight: 500;
}
.ic_close {
  color: $primary-color;
  font-size: 28px;
  cursor: pointer;
}
.dialog_content {
  padding: 25px 50px 50px 50px;
  overflow: auto;
}
.dialog_footer {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
}
.btn-save {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: $primary-color;
}
