<mat-drawer-container class="main_container">
  <mat-drawer mode="side" opened>
    <div class="side_nav--main">
      <div class="side_nav--logo">
        <img src="../../assets/images/kevit-icon.png" />
      </div>
      <div class="side_nav--list">
        <div
          class="side_nav--item d-flex align-center just-center flex-column"
          [routerLink]="['organizations']"
          routerLinkActive="active-link"
        >
          <i class="material-icons-round">business</i>
          <p>Organizations</p>
        </div>
        <div
          class="side_nav--item d-flex align-center just-center flex-column mt-20"
          [routerLink]="['bots']"
          routerLinkActive="active-link"
        >
          <i class="material-icons-round">forum </i>
          <p>Bots</p>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main_div">
      <mat-toolbar class="header--main">
        <div
          (click)="toggleMenu()"
          class="d-flex align-center just-space-bet c-p mr-40"
          id="header"
          (clickOutside)="isMenuToggle = false"
        >
          <div class="header--initial">
            <img *ngIf="photoUrl" [src]="photoUrl" />
            <span *ngIf="!photoUrl">{{ initialLetter }}</span>
          </div>
          <div>
            <div class="header--user-name" [title]="userName">
              {{ userName }}
            </div>
          </div>
          <i
            [ngClass]="{ 'rotate-icon': isMenuToggle }"
            class="down-arrow material-icons-round"
            >keyboard_arrow_down</i
          >
        </div>
      </mat-toolbar>
      <div class="bottom-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!-- change password dialog box starts here -->
<ng-template #changePass>
  <form class="changepass-form" [formGroup]="changePasswordForm">
    <div>
      <mat-form-field appearance="outline" class="change-password-container">
        <mat-label class="email-label">Old Password</mat-label>
        <input
          matInput
          placeholder="Old Password"
          formControlName="oldPassword"
          type="password"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="change-password-container">
        <mat-label class="email-label">New Password</mat-label>
        <input
          matInput
          placeholder="New Password"
          formControlName="newPassword"
          type="password"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="change-password-container">
        <mat-label class="email-label">Confirm Password</mat-label>
        <input
          matInput
          placeholder="New Password"
          formControlName="confirmPassword"
          type="password"
        />
      </mat-form-field>
    </div>
    <button mat-button class="btn-save" (click)="changePassword()">Save</button>
  </form>
</ng-template>
<!-- change password dialog box ends here -->

<!-- update profile dialog box starts here -->
<ng-template #updateProfile>
  <form class="changepass-form" [formGroup]="updatePasswordForm">
    <div>
      <div class="f-16 font-gray font-600">User Details:</div>
      <div
        *ngIf="!photoUrl"
        class="update-profile-picture mt-10"
        (click)="uploadDP.click()"
      >
        <i class="material-icons">
          cloud_upload
        </i>
      </div>
      <input
        #uploadDP
        style="display: none"
        type="file"
        accept="image/*"
        (change)="uploadDisplayPicture($event)"
      />
      <div *ngIf="photoUrl" class="update-profile-picture">
        <div class="on-hover-upload-logo">
          <i
            title="Remove Picture"
            class="material-icons "
            (click)="deleteProfilePic()"
          >
            delete
          </i>
          <i
            title="Upload Picture"
            class="material-icons ml-10"
            (click)="uploadDP.click()"
          >
            cloud_upload
          </i>
        </div>

        <img
          class="DP-image h-100 w-100"
          [src]="photoUrl"
          alt="Display Picture"
          (click)="uploadDP.click()"
        />
      </div>
      <mat-form-field
        appearance="outline"
        class="update-profile-container mt-20"
      >
        <mat-label class="email-label">Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="update-profile-container">
        <mat-label class="email-label">Email</mat-label>
        <input formControlName="email" matInput readonly type="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="update-profile-container">
        <mat-label class="email-label">Contact Number</mat-label>
        <input
          matInput
          placeholder="Contact Number"
          (keypress)="restrictNumberInput($event)"
          formControlName="contactNumber"
        />
      </mat-form-field>

      <div class="d-flex align-center">
        <div class="f-16 font-gray font-500">Role:</div>
        <div
          class="update-profile-role ml-20 f-16 primary-font-color font-600"
          *ngIf="userProfile"
        >
          {{ userProfile.role | titlecase }}
        </div>
      </div>
    </div>
    <button mat-button class="btn-save mt-20" (click)="onUpdateProfile()">
      Save
    </button>
  </form>
</ng-template>
<!-- update profile dialog box ends here -->
<!--Header menu-->
<app-header-dropdown
  *ngIf="isMenuToggle"
  (closeModal)="isMenuToggle = false"
  (menuClick)="handleMenuClick($event)"
  [width]="headerWidth"
></app-header-dropdown>
