@import "../../styles";
.main_container {
  width: 100vw;
  height: 100vh;
}
.side_nav--main {
  width: 100px;
}
.header--main {
  background-color: $header-color;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index: 999;
  width: calc(100% - 100px);
  mat-icon {
    height: auto;
    width: auto;
  }
}
.side_nav--logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 2px solid $header-color;
  img {
    height: 54px;
  }
}
.side_nav--list {
  height: calc(100vh - 100px);
  margin-top: 20px;
  padding-top: 45px;
}
.side_nav--item {
  height: 60px;
  background-color: #f9f9f9;
  color: $primary-color;
  cursor: pointer;
  p {
    margin: 0 !important;
    font-size: 12px;
  }
}
.side_nav--item:focus {
  outline: none;
}
.active-link {
  background-color: $primary-color !important;
  color: white;
  outline: none !important;
}
.header--initial {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $primary-color;
  background-color: $gray-back;
  font-size: 2rem;
  font-weight: 700;
  color: $gray-font-color;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}

.header--initial:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.header--user-name {
  font-weight: 600;
  font-size: 1.4rem;
  color: $gray-font-color;
  margin-left: 10px;
  min-width: 100px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.down-arrow {
  color: $primary-color;
  font-weight: 500;
  font-size: 32px;
}
.menu-items {
  height: 100%;
  background-color: white;
  padding: 10px 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bottom-main {
  padding: 20px 40px 40px 40px;
  margin-top: 80px;
  height: 100%;
  min-height: calc(100vh - 80px);
}
.main_div {
  background-color: white;
}

.changepass-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.change-password-container,
.update-profile-container {
  width: 100%;
}

.update-profile-picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-size: 24px;
  overflow: hidden;
  cursor: pointer;

  img {
    object-fit: contain;
  }
}

.update-profile-picture:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.update-profile-picture:hover .on-hover-upload-logo {
  color: white;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}

.on-hover-upload-logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.update-profile-role {
  padding: 10px 30px;
  box-shadow: 0px 0px 5px 0px #e4e5e9;
  border-radius: 5px;
}

.btn-save {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: $primary-color;
  align-self: flex-end;
  justify-self: flex-end;
}
.rotate-icon {
  transform: rotate(180deg);
}
