@import "../../../styles";

.main-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.left-container {
  height: 100%;
  width: 50%;
  background-image: url("../../../assets/images/login/login-left.png");
  background-size: cover;
}

.right-container {
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.hp-logo {
  margin-bottom: 50px;
}

.email-container,
.password-container {
  width: 515px;
  border-width: 2px !important;

  .material-icons.icon {
    color: #b4b4b4;
    /*    font-size: 30px !important;*/
    margin-right: 25px !important;
  }

  input {
    color: #4a4a4a;
  }
}
.remember-forgetpass-div {
  width: 515px;
  font-size: 14px;
  color: #b4b4b4;
}

.login-button {
  height: 50px;
  width: 150px;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: $primary-color;
}

.login-button:disabled {
  color: white !important;
  background-color: rgba(24, 194, 196, 0.5);
}

.background-fingerprint {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 515px;
  object-fit: cover;
  z-index: -1;
}
.forgot_pass {
  text-decoration: underline;
  cursor: pointer;
}

/* media query for Mobile device with Portrait Mode starts here */
@media (max-width: 576px) {
  .left-container {
    width: 100vw;
    height: 50vh;
    background-size: cover;
  }

  .right-container {
    width: 100vw;
    height: 50vh;
    padding-top: unset;
  }

  .hp-logo {
    width: 150px;
    margin-bottom: unset;
  }

  .email-container,
  .password-container {
    width: 85%;
    height: 50px;
    margin-top: 20px;

    .material-icons.icon {
      font-size: 22px !important;
    }
  }

  .remember-forgetpass-div {
    width: 85%;
    margin-top: 20px;
  }

  .background-fingerprint {
    display: none;
  }

  .login-button {
    height: auto;
    margin: 10px 0;
    font-size: 16px;
  }
}

/* media query for Mobile device with Portrait Mode ends here */

/* media query for Mobile device with Landscape Mode starts here */
@media screen and (min-aspect-ratio: 13/9) and (max-width: 825px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding-top: unset;
  }

  .login-container {
    margin-top: 0px;
  }

  .hp-logo {
    width: 150px;
    margin-bottom: unset;
  }

  .email-container,
  .password-container {
    width: 90%;
    height: 50px;
    margin-top: 20px;

    .material-icons.icon {
      font-size: 22px !important;
    }
  }

  .remember-forgetpass-div {
    width: 85%;
    margin-top: 20px;
  }

  .background-fingerprint {
    display: none;
  }

  .login-button {
    height: auto;
    margin: 10px 0;
    font-size: 16px;
  }
}

/* media query for Mobile device with Landscape Mode ends here */

/* media query for ipad and ipad Pro with Portrait Mode starts here */
@media (min-width: 767px) and (max-width: 1025px) and (min-height: 767px) and (max-height: 1367px) and (orientation: portrait) {
  .left-container {
    width: 100vw;
    height: 50vh;
    background-size: cover;
  }
  .login-button {
    margin-top: 30px !important;
  }
  .right-container {
    width: 100vw;
    height: 50vh;
    padding-top: unset;
  }

  .hp-logo {
    width: 225px;
    margin-bottom: 30px;
  }

  .email-container,
  .password-container {
    width: 90%;
    height: 50px;
    margin-top: 20px;

    .material-icons.icon {
      font-size: 22px !important;
    }
  }

  .remember-forgetpass-div {
    width: 85%;
    margin-top: 30px;
  }

  .background-fingerprint {
    display: none;
  }

  .login-button {
    height: auto;
    margin: 10px 0;
    font-size: 16px;
  }
}

/* media query for ipad & ipad Pro with Portrait Mode ends here */

/* media query for ipad & ipad Pro  with Landscape Mode starts here */
@media (max-width: 1367px) and (min-width: 767px) and (min-height: 767px) and (max-height: 1025px) and (orientation: landscape) {
  .email-container,
  .password-container,
  .remember-forgetpass-div {
    width: 450px;
  }
}

/* media query for ipad & ipad Pro with Landscape Mode ends here */

/* media query for screen wider than 1440px with starts here */
@media (min-width: 1441px) {
  .background-fingerprint {
    height: 600px;
  }
}

/* media query for screen wider than 1440px with ends here */
