@import "../../../theme";

.analytics-main-container {
  width: 100%;
  height: calc( 100vh - 80px);
  position: relative;
  padding: 20px;
  overflow: auto;
  color: #4d4f5c;
}

.graph-container {
  padding: 20px;
  border: 2px solid #e2e2e3;
  border-radius: 6px;
}

.icon-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $primary-color;
  color: white;

}

.pie-chart-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 49%;
}

.agent-request-select {
  width: 130px;
  margin-left: 15px;
  padding: 5px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #e2e2e3;
  border-radius: 10px;
  font-size: 14px;

}
.agent-request-select-date {
  padding: 5px;
  border: 2px solid #e2e2e3;
  border-radius: 10px;
  font-size: 14px;
  mat-icon{
    cursor: pointer;
    color: $primary-color;
  }
  input{
    min-width: 158px;
    cursor: pointer;
    border: 0;
    outline: none;
    padding: 5px;
  }
}

.agent-request-graph {
  margin-top: -30px;
}
.analytics-date-select{
  min-width: 150px;
  max-width: 240px;
}

@media (max-width: 768px) {
  .pie-chart-container {
    width: 100%;
  }

  .agent-request-graph {
    margin-top: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {

  .agent-request-graph {
    margin-top: 10px;
  }
}
