<div *ngIf="isOrganizationLoad">
  <div class="organizations-title">Organizations</div>
  <div class="search-bar-create-organization-container">
    <div class="d-flex just-space-bet align-center search-bar">
      <input
        class="w-95"
        placeholder="Search Organization"
        (keydown)="getSearchList($event)"
        [(ngModel)]="search"
      />
      <i
        class="material-icons search-bar-icon"
        title="Search Organization"
        (click)="getOrganization(1, 10)"
      >
        search
      </i>
    </div>
    <div
      class="create-organization-button"
      title="create organization"
      [routerLink]="['createOrganization']"
    >
      <i class="material-icons mr-10">
        add_circle
      </i>
      Create Organization
    </div>
  </div>
  <div class="custom_table">
    <div class="custom_table--header">
      <div class="organization-name ml-20" title="Organization Name">
        Organization name
      </div>
      <div class="admin-name " title="Admin Name">Admin name</div>
      <div class="admin-email" title="Admin Email">Admin Email</div>
      <div class="date-created" title="Date Created">Date Created</div>
      <div
        class="date-created"
        style="text-align: center"
        title="Login as Admin"
      >
        Login as Admin
      </div>
      <div class="action pr-5" title="Action">Action</div>
    </div>

    <div
      class="custom_table--row"
      *ngFor="let organization of organizations; let i = index"
    >
      <div class="organization-name ml-20" title="{{ organization.name }}">
        {{ organization.name }}
      </div>
      <div class="admin-name " title="{{ organization.originAdminId.name }}">
        {{ organization.originAdminId.name }}
      </div>

      <div class="admin-email" title="{{ organization.originAdminId.email }}">
        {{ organization.originAdminId.email }}
      </div>
      <div
        class="date-created"
        title="{{ organization.createdAt | date: 'dd MMMM yyyy' }}"
      >
        {{ organization.createdAt | date: "dd MMMM yyyy" }}
      </div>
      <div class="date-created d-flex just-center" title="Login as Admin">
        <a
          style="text-decoration: none"
          class="action-circle bg-color-primary font-white"
          title="login as admin"
          [href]="
            adminUrl +
            '/login?organizationId=' +
            organization._id +
            '&userName=' +
            userName +
            '&token=' +
            token +
            '&userId=' +
            userId
          "
          target="_blank"
        >
          <i class="material-icons">
            subdirectory_arrow_right
          </i>
        </a>
      </div>

      <!-- action three dots starts here -->
      <div class="action-three-dots pr-5">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            class="d-flex align-center"
            [routerLink]="[
              '/',
              'dashboard',
              'organizations',
              'edit',
              organization._id
            ]"
          >
            <i class="material-icons primary-font-color">
              edit
            </i>
            <span class="ml-5">Edit</span>
          </button>

          <button
            mat-menu-item
            class="d-flex align-center"
            (click)="openDeleteDialog(deleteConfirmation, i)"
          >
            <i class="material-icons primary-font-color">
              delete
            </i>
            <span class="ml-5">Delete</span>
          </button>
        </mat-menu>
      </div>
      <!-- action three dots screen ends here -->

      <!-- action large screen starts here -->
      <div class="action-large-screen action">
        <div
          class="action-circle"
          title="edit details"
          [routerLink]="[
            '/',
            'dashboard',
            'organizations',
            'edit',
            organization._id
          ]"
        >
          <i class="material-icons">
            edit
          </i>
        </div>
        <div
          class="action-circle"
          title="delete organization"
          (click)="openDeleteDialog(deleteConfirmation, i)"
        >
          <i class="material-icons">
            delete
          </i>
        </div>
      </div>
      <!-- action large screen ends here -->
    </div>
  </div>

  <div class="pagination" *ngIf="totalpage > 1">
    <i
      class="material-icons prev-btn"
      [ngClass]="{ 'disable-prev-btn': disablePrev }"
      (click)="prevPage()"
    >
      navigate_before
    </i>

    <div
      *ngFor="let val of totalPages"
      class="cust-page-indx"
      [ngClass]="{ 'index-active': val.status }"
      (click)="changePage(val.no)"
    >
      {{ val.no }}
    </div>

    <i
      class="material-icons next-btn"
      [ngClass]="{ 'disable-next-btn': disableNext }"
      (click)="nextPage()"
    >
      navigate_next
    </i>
  </div>
</div>

<div
  *ngIf="!isOrganizationLoad"
  class="d-flex just-center align-center"
  style="height: calc(100vh - 160px)"
  id="initial_loader"
>
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- delete user dialog box starts here -->
<ng-template #deleteConfirmation>
  <div class="detail-configuration">
    <p>
      Are you sure you want to delete {{ organizations[deleteIndex].name }}?
    </p>
    <div class="mt-40 d-flex just-end">
      <div
        class="cust-button-white float-right mr-10"
        [mat-dialog-close]="false"
      >
        Cancel
      </div>
      <div class="cust-button float-right" [mat-dialog-close]="true">
        Confirm
      </div>
    </div>
  </div>
</ng-template>
<!-- delete user dialog box endss here -->
