@import "../../../theme.scss";

.create-organization-button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px 25px;
  font-size: 18px;
  background: $primary-color;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.create-organization-button:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

.organization-table {
  width: 100%;
  margin-top: 40px;
}
.admin-name,
.admin-email {
  width: 20%;
  max-width: 20%;
}
.admin-name,
.admin-email,
.date-created {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date-created {
  max-width: 15%;
  width: 15%;
}
.action-large-screen {
  width: 10%;
  max-width: 10%;
}
.action {
  width: 10%;
}

.organization-name {
  width: 20%;
  max-width: 20%;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-large-screen {
  display: flex;
  justify-content: flex-start;
}

.action-three-dots {
  display: none;
}

.action-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e7e7e8;
  color: $primary-color;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.action-circle:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}

@media (max-width: 1024px) {
  .action-large-screen {
    display: none;
  }

  .admin-name,
  .organization-name,
  .admin-email,
  .date-created {
    width: 24%;
    max-width: 24%;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-three-dots {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
}

@media (max-width: 1366px) {
  .action-circle {
    margin-right: 6px;
  }
}
