@import "../../../styles";
.header-menu {
  position: absolute;
  top: 10px;
  right: 46px;
  width: 260px;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.menu-text {
  color: $gray-font-color;
  font-size: 1.2rem;
  font-weight: 400;
}
.menu-extra {
  height: 70px;
  width: 100%;
}
.logout_ic {
  transform: rotate(-90deg);
}
.menu-items {
  height: 100%;
  background-color: white;
  padding: 10px 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.round_icon_bg {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #ebebec;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-icon {
    font-size: 20px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
