<div
  style="width: 100%;height: 100%;display: flex;align-items: center;justify-content: center"
>
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
