@media (max-width: 576px) {
  .email-container.mat-form-field-appearance-outline .mat-form-field-infix,
  .password-container.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0;
  }

  .email-container.mat-form-field-appearance-outline .mat-form-field-outline,
  .password-container.mat-form-field-appearance-outline
    .mat-form-field-outline {
    height: 50px !important;
  }
  .email-container.mat-form-field-appearance-outline .mat-form-field-label,
  .password-container.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.34375em;
    margin-top: 1px;
  }
}

@media (max-width: 768px) {
  .organization-details-container,
  .bot-details-container {
    width: 600px;
  }

  .create-button-container {
    width: 50vw;
  }

  .create-button {
    margin-top: 50px;
  }
}
