/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "theme";
@import "utility";
@import "media-query";
@import "animations";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$my-custom-primary: (
  50: #e3f8f8,
  100: #baeded,
  200: #8ce1e2,
  300: #5dd4d6,
  400: #3bcbcd,
  500: #18c2c4,
  600: #15bcbe,
  700: #11b4b6,
  800: #0eacaf,
  900: #089fa2,
  A100: #cefeff,
  A200: #9bfdff,
  A400: #68fcff,
  A700: #4efbff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);

$my-custom-accent: (
  50: #e3f8f8,
  100: #baeded,
  200: #8ce1e2,
  300: #5dd4d6,
  400: #3bcbcd,
  500: #18c2c4,
  600: #15bcbe,
  700: #11b4b6,
  800: #0eacaf,
  900: #089fa2,
  A100: #cefeff,
  A200: #9bfdff,
  A400: #68fcff,
  A700: #4efbff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hp-superadmin-primary: mat-palette($my-custom-primary, 600, 300, 800);
$hp-superadmin-accent: mat-palette($my-custom-accent, 900, 500, 900);

// The warn palette is optional (defaults to red).
$hp-superadmin-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$hp-superadmin-theme: mat-light-theme(
  $hp-superadmin-primary,
  $hp-superadmin-accent,
  $hp-superadmin-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$custom-typography: mat-typography-config(
  $font-family: "Segoe UI, sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-theme($hp-superadmin-theme);
@include mat-base-typography($custom-typography);
@include mat-core($custom-typography);
@include angular-material-typography($custom-typography);
html,
body {
  height: 100%;
}

body {
  font-family: "Segoe UI", sans-serif !important;
  margin: 0 !important;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/*Common Classes*/
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d5d5d5;
}

.primary-font-color {
  color: $primary-color !important;
}

.standard-font-color {
  color: #444444 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}

/*Loader css*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $primary-color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary-color transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 20px;
  margin: 5px;
}

.lds-ellipsis div {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $primary-color;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

label {
  margin-bottom: 0px;
  font-weight: normal;
}

.email-container.mat-form-field-appearance-outline .mat-form-field-label,
.password-container.mat-form-field-appearance-outline .mat-form-field-label,
.change-password-container.mat-form-field-appearance-outline
  .mat-form-field-label {
  color: #b9b9b9 !important;
}

.email-container.mat-form-field.mat-focused .mat-form-field-label,
.password-container.mat-form-field.mat-focused .mat-form-field-label,
.change-password-container.mat-form-field.mat-focused .mat-form-field-label {
  color: $primary-color !important;
}

.email-container.mat-form-field-appearance-outline._mat-animation-noopable
  .mat-form-field-outline,
.password-container.mat-form-field-appearance-outline._mat-animation-noopable
  .mat-form-field-outline,
.change-password-container.mat-form-field-appearance-outline._mat-animation-noopable
  .mat-form-field-outline {
  background-color: white !important;
}

.email-container.mat-form-field-prefix,
.mat-form-field-suffix,
.password-container.mat-form-field-prefix,
.mat-form-field-suffix {
  font-size: x-large;
}

.remember-me-checkbox._mat-animation-noopable .mat-checkbox-frame {
  border-radius: 5px;
  border: 1px solid #b4b4b4;
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.remember-me-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  border-radius: 5px;
  height: 20px;
  width: 20px;
}

.remember-me-checkbox .mat-checkbox-inner-container {
  margin-right: 15px !important;
}

.snack-error {
  background: crimson;
  color: white;
  font-weight: 600;
}

.snack-success {
  color: white;
  background-color: #18c2c4;
  font-weight: 600;
}
.mat-drawer-side {
  border-right: none !important;
  box-shadow: 10px 0 6px -6px #e7f9f9 !important;
}
.mat-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.mat-dialog-container {
  border-radius: 20px !important;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2) !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.2) !important;
}

/* login page starts here */
.login-container .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey;
}

.login-container
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick,
.mat-form-field-appearance-outline.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: $primary-color;
}
/* login page ends here */

/* organization component starts here */
.action-circle .material-icons {
  font-size: 22px !important;
}

.details-container .mat-form-field-wrapper {
  padding-bottom: 10px;
}

.details-container .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey;
}

.changepass-form .mat-form-field-appearance-outline .mat-form-field-outline {
  color: lightgrey;
}

.info .material-icons {
  font-size: 26px;
}

.dialog-flow-circle .material-icons {
  font-size: 22px !important;
}

/* organization component ends here */
.custom_table {
  width: 100%;
  margin-top: 40px;
}
.custom_table--row {
  height: 60px;
  color: $font-color;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
}
.custom_table--header {
  color: #8f8f8f;
  font-size: 18px;
  font-weight: 600;
}
.custom_table--header,
.custom_table--row {
  display: flex;
  align-items: center;
}
// search box
.organizations-title {
  font-size: 26px;
  color: $primary-color;
  font-weight: 600;
}

.search-bar-create-organization-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.search-bar {
  height: 40px;
  width: 45%;
  padding: 5px 20px;
  background-color: #f7f7f7;
  border-radius: 5px;

  input {
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
  }
}

.search-bar input::placeholder {
  color: #cbcbcc;
  font-size: 16px;
  font-weight: 400;
  font-family: "Segoe UI", sans-serif;
}

.search-bar-icon {
  font-size: 22px !important;
  color: $primary-color;
  cursor: pointer;
}

/*pagination classes starts here*/
.pagination {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.prev-btn,
.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 2px solid #e7e7e8;
  border-radius: 50%;
  margin-right: 30px;
  color: $primary-color;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.next-btn {
  margin: 0 0 0 30px;
}

.disable-prev-btn {
  cursor: not-allowed;
  color: #cccfd9;
}

.disable-prev-btn:hover {
  color: #cccfd9;
}

.disable-next-btn {
  cursor: not-allowed;
  color: #cccfd9;
}

.disable-next-btn:hover {
  color: #cccfd9;
}

.cust-page-bt {
  font-size: 2rem;
  text-align: center;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: rgba($primary-color, 0.5);
}

pagination .cust-page-bt:last-child {
  margin-left: 10px;
}

.pagination .cust-page-bt:hover {
  background-color: #ffffff;
  color: $primary-color;
}

.pagination .index-active {
  background-color: $primary-color;
  color: white;
}

.cust-page-indx {
  width: 30px;
  height: 30px;
  border-radius: 22px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: $primary-color;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.pagination .cust-page-indx:hover {
  box-shadow: 0 0 10px $primary-color;
}

/*pagination classes ends here*/
.detail-label {
  color: $gray-font-color;
  font-weight: 500;
}
.mat-button-focus-overlay {
  background-color: transparent !important;
}
.hide-pass {
  height: fit-content;
  width: fit-content;
}
.hide-pass mat-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
  color: $primary-color;
}

/* customised cyan button starts here */
.cust-button,
.cust-button-white {
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
}
.cust-button {
  background: $primary-color;
  color: white;
}
.cust-button-white {
  background: white;
  color: $text-color;
  border: 1px $gray-font-color solid;
}
.border-radius-common {
  border-radius: 10px !important;
}

.cust-button:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}
.cust-button-white:hover {
  box-shadow: 0px 0px 5px 0px $gray-font-color;
}

/* customised cyan button ends here */

/* customised white button starts here */
.cust-white-button {
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  padding: 9px 20px;
  font-size: 18px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: $primary-color;
  border-radius: 9px;
  cursor: pointer;
}

.cust-white-button:hover {
  box-shadow: 0px 0px 5px 0px $primary-color;
}
input {
  color: $text-color !important;
}
