$primary-color: #18c2c4;
$secondary-color: #0f1a36;
$slate-gray: #879aba;
$light-gray: #e4e5e9;
$dark-blue-light: #0f1a36;
$text-color: #444444;
$gray-font-color: #939f9d;
$dark-blue: #081a2b;
$font-color: #1d1e3a;
$gray-back: #f6f7fb;
$gray-medium: #ebebec;
$danger-color: #ff6368;
$info-color: #138af9;
$warning-color: #ffa500;
$dark-medium-gray: #f6f7fb;
$primary_purple: #330773;
$primary_pink: #e4008b;
$primary_text_color: #2b313f;
$primary_purple_medium: #6b1bbc;
$header-color: #e7f9f9;
