@import "../../../../theme";
.integration-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;

  input::placeholder, select::placeholder {
    color: $gray-font-color!important;
  }
}

.left-part, .right-part {
  width: 48%;
}

.delete-icon {
  font-size: 32px!important;
  cursor: pointer;
}

.bot-script {
  min-height: 220px;
  padding: 10px 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: #b1b1b1;
}

.script-container {
  width: 90%;
  line-height: 1.4em;
  white-space: pre-line;
  word-break: break-word;
  font-weight: 400;
}


@media (max-width: 768px) {
  .integration-container {
    max-width: 100%;
  }

  .left-part,
  .right-part {
    width: 600px;
  }

  .right-part {
    margin-top: 30px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .integration-container {
    width: 100%;
  }
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .integration-container {
    width: 90%;
  }
}

/* media query for screen wider than 1440px with starts here */

@media (min-width: 1441px) {
  .integration-container {
    width: 75%;
  }
}

/* media query for screen wider than 1440px with ends here */
