<div class="integration-container font-gray">

  <div class="left-part">
    <div class="f-16 mb-10 font-400 font-cyan">URL Where Bot Runs</div>
    <div class="d-flex just-space-bet" *ngFor="let url of urls;index as uIndex" >
      <mat-form-field class="w-90 simple-input" appearance="outline" [ngClass]="{'redOutline':!url.isValid}">
        <input matInput placeholder="Enter url"   [(ngModel)]="url.value" id="integrationUrl{{ uIndex }}">
      </mat-form-field>

      <i class="material-icons font-cyan delete-icon ml-10 mt-15" title="Remove URL"
         (click)="openDialog('deleteURL',deleteConfirmation,uIndex)">
        delete
      </i>
    </div>
    <div class="cust-button w-fit" (click)="addUrl()">
      <i class="material-icons mr-10">
        add_circle
      </i>Add URL
    </div>
  </div>

  <div class="right-part font-gray">
    <div class="bot-script">
      <div class="d-flex just-space-bet align-center mb-10">
        <div class="font-500 f-16 mb-10">Bot Script</div>
        <i class="material-icons font-cyan cursor-pointer f-22"
           title="Copy Script"
           (click)="copyTextArea(webScriptText)">
          file_copy
        </i>
      </div>
      <div class="script-container f-16">
        {{ webScriptText }}
      </div>
    </div>

    <div class="mt-60 cust-button float-right pl-40 pr-40" (click)="updateIntegration()">Save</div>
  </div>
</div>

<!-- delete user dialog box starts here -->
<ng-template #deleteConfirmation>
  <div class="detail-configuration">
    <p> Are you sure you want to delete URL {{ urls[deleteIndex].value }}?</p>
    <div class="mt-40 d-flex just-end">
      <div  class="cust-button-white float-right mr-10"  [mat-dialog-close]="false"
      >Cancel</div>
      <div  class="cust-button float-right"   [mat-dialog-close]="true">Confirm</div>
    </div>
  </div>
</ng-template>
<!-- delete user dialog box endss here -->


