<div class="header-menu" [ngStyle]="{ 'width.px': width }">
  <div class="menu-extra"></div>
  <div class="menu-items">
    <div class="d-flex align-center" (click)="updateProfileModal()">
      <div class="round_icon_bg">
        <mat-icon>edit</mat-icon>
      </div>
      <div class="menu-text ml-10">
        Update Profile
      </div>
    </div>
    <div class="d-flex align-center mt-10" (click)="changePassModal()">
      <div class="round_icon_bg">
        <mat-icon>lock</mat-icon>
      </div>
      <div class="menu-text ml-10 ">
        Change Password
      </div>
    </div>
    <div class="d-flex align-center mt-10" (click)="userLogout()">
      <div class="round_icon_bg logout_ic">
        <mat-icon>play_for_work</mat-icon>
      </div>
      <div class="menu-text ml-10">
        Logout
      </div>
    </div>
  </div>
</div>
