<div class="main-container" *ngIf="!isLoadingMain">
  <div class="left-container"></div>
  <div class="right-container">

    <!-- login form starts here -->
    <form
      class="login-container"
      [formGroup]="loginForm"
    *ngIf="formStatus === 'login'">
      <img class="hp-logo" src="../../../assets/images/login/logo-Kevit-Horizontal.svg"/>
      <mat-form-field appearance="outline" class="email-container">
        <mat-label class="email-label">Email</mat-label>
        <input matInput placeholder="Email" formControlName="userId" />
        <mat-icon matPrefix class="icon"
        ><i class="material-icons icon">
          mail_outline
        </i></mat-icon
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="password-container">
        <mat-label class="password-label">Password</mat-label>
        <input matInput placeholder="Password" (keydown.enter)="handleEnter($event,'doLogin')" formControlName="password"
               [type]="hide ? 'password' : 'text'">
        <button class="hide-pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matPrefix class="icon"><i class="material-icons icon">
          lock_outline
        </i></mat-icon>
      </mat-form-field>

      <div class="d-flex just-space-bet remember-forgotpass-div">
        <mat-checkbox formControlName="rememberMe">Remember me </mat-checkbox>
        <a class="forgot_pass" (click)="forgotPass()">Forgot Password?</a>
      </div>

      <button mat-button class="login-button" [disabled]="loginForm.invalid" (click)="doLogin()">Log In</button>
    </form>
    <!-- login form ends here -->

    <!-- forgot password form starts here -->
    <form
      class="login-container"
      [formGroup]="forgetPassForm"
      *ngIf="formStatus === 'forgotPassword'"
    >
      <img
        class="hp-logo"
        src="../../../assets/images/login/logo-Kevit-Horizontal.svg"
      />
      <mat-form-field appearance="outline" class="email-container">
        <mat-label class="email-label">Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-icon matPrefix class="icon"
        ><i class="material-icons icon">
          mail_outline
        </i></mat-icon
        >
      </mat-form-field>
      <div class="d-flex just-space-bet remember-forgotpass-div">
        <span>Enter your email to retrieve your account</span>
        <a class="forgot_pass" (click)="backToLogin()">Back to Login</a>
      </div>
      <button
        mat-button
        class="login-button"
        [disabled]="forgetPassForm.invalid"
        (click)="sendEmail()"
      >
        Send Email
      </button>
    </form>
    <!-- forgot password form ends here -->

    <!-- set password starts here -->
    <form
      class="login-container"
      [formGroup]="setPassForm"
      *ngIf="formStatus === 'setPassword'"
    >
      <img
        class="hp-logo"
        src="../../../assets/images/login/logo-Kevit-Horizontal.svg"
      />

      <mat-form-field appearance="outline" class="password-container">
        <mat-label class="password-label">Set Password</mat-label>
        <input matInput placeholder="Password" (keydown.enter)="handleEnter($event)"  formControlName="setPassword" [type]="hide ? 'password' : 'text'">
        <button class="hide-pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matPrefix class="icon"
        ><i class="material-icons icon">
          lock_outline
        </i></mat-icon
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="password-container">
        <mat-label class="password-label">Confirm Password</mat-label>
        <input matInput placeholder="Password"  formControlName="confirmPassword"
               (keydown.enter)="handleEnter($event,'setPassword')"  [type]="hide ? 'password' : 'text'">
        <button class="hide-pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matPrefix class="icon"
        ><i class="material-icons icon">
          lock_outline
        </i></mat-icon
        >
      </mat-form-field>

      <button
        mat-button
        class="login-button"
        style="width: fit-content"
        [disabled]="setPassForm.invalid"
        (click)="doSetPassword()"
      >
        Set Password
      </button>
    </form>
    <!-- set password ends here -->

    <!-- reset password starts here -->
    <form
      class="login-container"
      [formGroup]="resetPassForm"
      *ngIf="formStatus === 'resetPassword'"
    >
      <img
        class="hp-logo"
        src="../../../assets/images/login/logo-Kevit-Horizontal.svg"
      />

      <mat-form-field appearance="outline" class="password-container">
        <mat-label class="password-label">New Password</mat-label>
        <input matInput placeholder="Password" (keydown.enter)="handleEnter($event)"
               formControlName="newPassword" [type]="hide ? 'password' : 'text'">
        <button class="hide-pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matPrefix class="icon"
        ><i class="material-icons icon">
          lock_outline
        </i></mat-icon
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="password-container">
        <mat-label class="password-label">Confirm Password</mat-label>
        <input matInput placeholder="Password" (keydown.enter)="handleEnter($event,'resetPassword')"
               formControlName="confirmPassword" [type]="hide ? 'password' : 'text'">
        <button class="hide-pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-icon matPrefix class="icon"
        ><i class="material-icons icon">
          lock_outline
        </i></mat-icon
        >
      </mat-form-field>

      <button
        mat-button
        class="login-button"
        style="width: fit-content"
        [disabled]="resetPassForm.invalid"
        (click)="doResetPassword()"
      >
        Reset Password
      </button>
    </form>
    <!-- reset password ends here -->
  </div>
</div>
<div *ngIf="isLoadingMain"
     id="initial_loader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!-- add user dialog box starts here -->
<ng-template #templateRef>
  <div class="detail-configuration">
    <p style="margin-top: 0">Please allow us to send you notifications for better user experience.</p>
    <p style="margin-bottom: 0;margin-top: 0">To allow sending notifications, select Allow for notifications by clicking on menu left to url in the browser.</p>
    <div class="mt-40 d-flex just-end">
      <div  class="cust-button float-right"  (click)="closeDialog()">Okay</div>
    </div>
  </div>
</ng-template>
<!-- add user dialog box ends here -->
